/*!CK:2134027748!*//*1387206418,178186559*/

._1-j{padding:2px;border:1px solid #b3b3b3;-webkit-border-radius:3px}
._58g_ ._1-j{border:none;padding:0}
._1-k{width:104px;height:104px}
._1-l{margin-left:122px}
._58g_ ._59fn{height:29px;margin:2px 0 10px;width:370px}
._58g_ ._59fo{line-height:18px}
._24-{margin-top:9px}
._58g_ ._24-{margin-top:11px}
._252{overflow:hidden;float:left;width:234px;height:32px}
._24_{background-image:url(/rsrc.php/v2/yd/r/cOUbTOfA3ug.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;position:absolute;width:234px;height:32px}
._5821 ._1-o{margin-right:1px}
._1-o:hover img{cursor:default}
._1-q{float:right;margin-top:3px}
._58g_ ._1-q{margin-top:5px}
._58g_ ._59fp{padding:16px}
.friendBrowserCheckboxFilters{width:200px;margin:0 auto;float:left}
.friendBrowserCheckboxFilterHeader{margin-bottom:3px}
.friendBrowserCheckboxFilterTypeahead{margin-top:3px}
.friendBrowserCheckboxFilterTypeahead .friendBrowserSearchInput{width:192px}
.friendBrowserCheckboxContent{width:493px;float:right;position:relative}
.friendBrowserCheckboxContentOnload{opacity:.3}
.friendBrowserSubTitle{margin-top:2px;margin-bottom:15px}
.friendBrowserHeader{margin-bottom:15px}
.friendBrowserPage{width:713px}
.friendBrowserPage label{color:#333;font-weight:normal}
.friendBrowserTypeahead .DOMControl_placeholder{color:#bbb}
.friendBrowsingCheckboxContentLoadingIndicator{position:absolute;z-index:1;top:90px;left:50%}
.friendBrowserGrid{width:100%}
.friendBrowserBlankState{position:relative;text-align:center;top:100px}
.friend_browser_page_name_box{min-height:65px;line-height:15px;text-align:left;width:100px}
.friend_browser_page_name_box.huger{min-height:0;padding-top:5px;margin-right:7px;width:112px}
.friend_browser_addfriend_icon{margin:4px 4px 0 0}
.friendBrowserRequesting .friendBrowserMutualFriendLink, .friendBrowserRequested .friendBrowserMutualFriendLink, .friendBrowserRequesting .friendBrowserSendingMessage, .friendBrowserRequested .friendBrowserUndoLink{display:none}
.friendBrowserRequesting .friendBrowserPicture, .friendBrowserRequested .friendBrowserPicture{opacity:.3}
.friendBrowserExtraSpacing{margin:3px 0}
.friendBrowserPhotoWrapper{height:75px;width:75px}
.friendBrowserPhotoCrop{background:#eee;height:75px;width:75px;overflow:hidden;position:absolute}
div.friendBrowserContentAlignMiddle{height:75px;vertical-align:middle !important}
.friendBrowserMarginTopTiny{margin-top:2px}
.friendBrowserMarginTopMini{margin-top:4px}
.friendBrowserAuxAlignMiddle{margin-top:26px}
.friendBrowserUnit .photoContainer{position:relative}
.friendBrowserUnit .closeButtonContainer{left:80px;position:absolute;top:3px;visibility:hidden}
.friendBrowserUnit .closeButtonContainer.huger{left:94px}
.friendBrowserPicture.huger{height:112px;width:112px}
.friendBrowserUnit .smallButton .closeButtonContainer{top:-3px}
.friendBrowserUnit .horizontalLayout .closeButtonContainer{left:172px}
.friendBrowserUnit:hover .discardable .closeButtonContainer, .friendBrowserUnit .discardable .closeButtonContainer.visibleClose{visibility:visible}
.gridUnitPlaceholder{width:110px}
.localeCustomLayout .friendBrowserUnit{padding:6px 0 2px 0}
._5rw7{line-height:0;text-align:center}
._5upn{text-align:center}
._5upo{margin:0 50px}
._4_37{margin-left:205px}
._4kdq ._4_37, ._5ap2 ._4_37, ._5bci ._4_37{margin-left:56px}
.sidebarMode ._5bci ._4_37, .sidebarMode ._5ap2 ._4_37{margin-right:205px}
._4kdq ._5ap2 ._4_37{margin-right:0}
._4_l-{z-index:300}
._58g_ .megaphone_story_wrapper{margin-bottom:9px;margin-top:3px}
._58g_ .megaphone_box{background-color:#fff;border:1px solid #d4d5d8;border-left-color:#d3d5db;-webkit-border-radius:3px;border-right-color:#d3d5db;padding:12px}
._58g_ .megaphone_story .title, ._58g_ .megaphone_story .megaphone_title{color:#141823;font-size:14px;font-weight:bold;line-height:14px;margin-bottom:2px}
._58g_ .megaphone_story .megaphone_content{color:#141823;font-size:12px;line-height:16px;max-width:494px}
._58g_ .megaphone_story .megaphone_img_block_body .megaphone_content{max-width:370px}
._58g_ .megaphone_action{margin-top:13px}
._580k{margin:4px 0 4px 4px}
._580k .img{margin-right:16px}
._58g_ .megaphone_hide_link{margin-right:2px;margin-top:2px}
._5848.megaphone_story_wrapper{margin-bottom:6px;margin-left:auto;margin-right:auto;width:924px}
._58g_ textarea, ._58g_ .inputtext, ._58g_ .inputpassword{border:1px solid #d3d6db}
._6nw ._58g_._5848 .megaphone_box{border:none;-webkit-border-radius:none;padding:13px 0 17px 0;width:924px}
._5847{background-color:#fff;border-bottom:1px solid #c3c4c6;left:0;position:absolute;width:100%}
._5848 .megaphone_story .title, ._5848 .megaphone_story .megaphone_title{font-size:18px}
._5848._58g_ .megaphone_story .megaphone_img_block_body .megaphone_content{max-width:100%}
._5848._58g_ .megaphone_story .megaphone_content{color:#6a7180;line-height:18px;margin-top:2px;max-width:100%}
.megaphone_story_wrapper{margin-bottom:20px}
.dialog_content .megaphone_story_wrapper{margin-bottom:0}
.megaphone_story{position:relative;overflow:hidden}
.megaphone_story .megaphone_content{font-size:11px}
.megaphone_story .megaphone_hide_link{float:right}
.megaphone_story_highlighted{background-color:#fcf5d0;border:1px solid #cbb631}
.megaphone_box{background-color:#f6f7f8;border:1px dashed #ced5e5}
.hasLeftCol .megaphone_box{border-width:0 0 1px 0;margin-left:-20px;margin-top:-15px}
#headerArea .megaphone_box{margin-right:-20px;margin-top:-17px}
#headerArea .megaphone_location_new_group_profile .megaphone_box{margin:0 0 2px 0}
.megaphone_location_new_group_profile .megaphone_action{margin-top:2px}
#megaphone_story_1622{margin-bottom:0}
.megaphone_location_friends{margin:0}
.megaphone_location_privacy{margin-left:auto;margin-right:auto;width:760px}
.timelineLayout .megaphone_location_managed_profile_admin .megaphone_box{border-top:1px dashed #ced5e5}
.fbHubsTypeaheadThrobber{display:none;position:absolute;right:6px;top:5px}
.typeaheadLoading .fbHubsTypeaheadThrobber{display:block}
._5bar ._5bas{border-top:0}
._59q7{border-top:1px solid #e1e5ef;padding:10px 14px}
._59q7 ._59q8, ._59q7._5daa ._59qa{display:none}
._59q7._5daa ._59q8{display:block}
._59de{border-bottom:1px solid #e1e5ef;color:#6a7480;padding:10px 14px}
._59qe{border-bottom:1px solid #e1e5ef;cursor:pointer;padding:12px 14px;position:relative}
._59qe._5e1e{padding-bottom:10px;padding-top:10px}
._59qe:hover{background:#e6ebf1}
._59qm, ._59ql{vertical-align:middle}
._59ql{-webkit-box-sizing:border-box;max-width:294px;padding-right:34px}
._5e1e ._59ql{max-width:218px}
._5e1e ._5mox{max-width:153px}
._5qdj{color:#6a7480;font-size:12px;font-weight:bold}
._59qf{color:#89919c;font-weight:normal}
._5e1i{background-image:url(/rsrc.php/v2/y_/r/1GrnDnh2U-3.png);background-repeat:no-repeat;background-size:auto;background-position:-15px -284px;height:24px;margin-top:-12px;position:absolute;right:14px;top:50%;width:24px}
._59qe:hover ._5e1i{background-image:url(/rsrc.php/v2/y_/r/1GrnDnh2U-3.png);background-repeat:no-repeat;background-size:auto;background-position:-15px -309px}
._59qc ._5e1i, ._59qc:hover ._5e1i{background-image:url(/rsrc.php/v2/y_/r/1GrnDnh2U-3.png);background-repeat:no-repeat;background-size:auto;background-position:0 -356px}
._5moy{display:block;margin-top:-12px;position:absolute;right:14px;top:50%}
._5ds7{margin:0;padding:10px 14px}
._5ds8{display:block;min-width:200px}
._5ds9 ._5dsa{max-width:260px}
._5ds9 ._5dsb{color:#6a7480;font-size:12px;font-weight:bold}
._5k7d{margin-left:3px;position:relative;top:1px}
._5lwd, ._5lwc{-webkit-border-radius:4px;min-height:8px}
._5lwd{background-color:#fff;border:1px solid #e1e5ef;overflow:hidden}
._5lwc{background:#4b79c2;background:-webkit-gradient(linear, center top, center bottom, from(#507ec7), to(#426eb5));background:-webkit-linear-gradient(#507ec7, #426eb5);height:100%}
._5c6m{cursor:pointer}
._5ank{min-width:300px}
._5anh{margin:0 14px 8px;position:relative;top:-4px}
._5c6n{height:10px;position:relative;right:16px;top:16px;visibility:hidden;width:10px}
._5c6m:hover ._5c6n{visibility:visible}
._5c6o, ._5c6p{position:absolute}
._5c6p{top:-1px}
._5c6o, .collapsedUnit ._5c6p{display:none}
.collapsedUnit ._5c6o{display:block}
._5anj{margin-top:0}
._5anj ._5anh{margin:3px 0 4px;position:static;width:300px}
._5anj ._5ank{margin:4px 0}
.UIIntentionalStreamSearch .highlight,
.UIIntentionalStreamSearch .inserted{color:#000;font-weight:bold;margin:0 0 0 0}
.UIResultSet_MoreLink{display:block;padding-top:4px}
.UIResultSet{padding:0 6px}
.UIResultSet_SuppressBasePadding{padding:0}

.fbDetailedSearchFilterArea{position:relative}
.fbDetailedSearchFilterArea .detailLoadingIndicator{position:absolute;top:0;right:0}
.fbDetailedSearchTypeahead{overflow:hidden}
.detailedsearch_feature_header{background-color:#e9e9e9;border:0;height:7px;margin-bottom:10px;padding:0;text-align:center}
.detailedsearch_feature_header span{background-color:#fff;padding:0 5px;position:relative;top:-4px;color:gray;font-weight:bold}
.detailedsearch_result{padding-bottom:5px;border-bottom:1px solid #e9e9e9}
.detailedsearch_last_result{border-bottom:0 none}
.detailedsearch_grammar{font-size:14pt}
.detailedsearch_actions .detailedseach_action_item{white-space:nowrap}
.searchResultPersonByline .fbProfileBylineFragment{display:block;width:auto}
.searchResultPersonByline .fbProfileBylineIconContainer .fbProfileBylineIcon{margin:0}
.searchResultPersonByline .fbProfileBylineIconContainer{width:11px;margin-right:5px;display:inline-block}
.searchResultPersonByline{width:auto;display:block}
._3nb{height:17px}
._3nc{width:100%}
._3nd{width:50%}
.photoTypeahead .photo{display:none;height:16px;left:3px;position:absolute;top:2px;width:16px}
.photoTypeahead .selected .photo{display:block}
.photoTypeahead .selected .textInput{padding-left:23px}
.photoTypeahead.uiTypeaheadDisabled .selected .photo{opacity:.30}

#bootloader_tr884 { height: 42px; }
.bootloader_tr884 { display:block !important; }