/*!CK:2943382544!*//*1382938513,173214747*/

html ._4bka{z-index:199}
._2qg3{padding:10px 15px}
._3o-a{position:absolute;right:8px;top:8px}
._4-u1{font-size:13px}
._52yb .uiScrollableArea, ._52yb .uiScrollableAreaWrap{max-height:315px}
._52yc{background:#fff;border:1px solid #333;border-bottom:2px solid #293e6a;padding:2px 0 0 0}
._52yb ._52yd ul{border:0;padding:0}
html ._52yb ._52yd .calltoaction{padding-left:45px;text-align:inherit}
html ._52yd .calltoaction .text{line-height:32px}
.uiTypeaheadView .places li{min-height:32px;padding:2px 10px 2px 45px}
.uiTypeaheadView .places img{display:block;height:32px;left:6px;position:absolute;width:32px}
.uiTypeaheadView .places .bold{font-weight:bold}
._47i9 i.arrowRight{background-image:url(/rsrc.php/v2/y_/r/ExJHdxE9lNd.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;float:right;height:9px;margin:10px 10px 0 0;width:5px}
._47i9 i.actionTypeIcon{display:block;height:32px;left:7px;position:absolute;width:32px}
._5lpy{padding-top:7px}

#bootloader_h1vAC { height: 42px; }
.bootloader_h1vAC { display:block !important; }