/*!CK:4275370556!*//*1387172809,178185039*/

#fbTimelinePermalinkHeadline{height:47px}
#fbTimelinePermalinkHeadline .fbTimelineNavigationPagelet{display:none}
.timelinePermalink #contentArea{padding-top:50px}
.timelinePermalinkSection .fbTimelineOneColumn{top:30px;margin-top:-30px}
.lifeEventHeader, .lifeEventSubtitle{text-align:center}
.lifeEventHeader{margin-bottom:16px}
.lifeEventHeader .timelineAudienceSelector{margin-top:-3px}
.lifeEventHeader .fbAudienceHover{left:4px;top:1px}
.lifeEventSubtitle a{top:1px}
.lifeEventStoryText{font-size:13px;line-height:18px;margin:20px auto;max-width:485px;text-align:left}
.fbTimelineOneColumn .lifeEventShortStory{margin:20px auto;width:510px}
.lifeEventStoryText .text_exposed_root{text-align:left}
.fbTimelineOneColumn .lifeEventStoryText .text_exposed_root{display:block;margin:0 auto;width:510px}
.fbTimelineOneColumn .lifeEventStoryText .text_exposed_root br{display:none}
.fbTimelineOneColumn .lifeEventStoryText .text_exposed{-webkit-column-count:2;-webkit-column-gap:30px;padding:0 15px;width:auto}
.fbTimelineOneColumn .lifeEventStoryText .text_exposed br{display:block}
.fbTimelineOneColumn .lifeEventTitle{width:510px}
.lifeEventTitle{font-size:18px;font-weight:bold;margin:auto}
.lifeEventTitle .fsm{font-size:18px !important;font-weight:bold}
.lifeEventPhotoContainer{display:block;margin-left:-12px;margin-top:15px}
.lifeEventPhoto{height:403px;margin:0 auto;width:403px}
.fbTimelineOneColumn .lifeEventAddPhoto{width:817px}
.fbTimelineOneColumn .lifeEventPhoto{height:403px;width:843px}
.lifeEventAddPhotoContainer{margin-bottom:15px;position:relative}
.fbTimelineOneColumn .lifeEventVisitedPlacesContainer{margin:auto;width:510px}
.fbTimelineMapContainerMLE .lifeEventAddPhotoContainer{margin-bottom:0}
.fbTimelineOneColumn .fbTimelineMapContainerMLE .lifeEventAddPhotoContainer{display:inline-block;margin:15px 0 0 3px;width:121px}
.fbTimelineTwoColumn .fbTimelineMapContainerMLE .lifeEventAddPhotoContainer{margin-left:12px}
.fbTimelineMapContainerMLE{margin:0 -12px -12px}
.fbTimelineMapContainerMLE .fbTimelineFlyoutMap{display:inline-block;margin-left:0}
.lifeEventAddPhoto{background-color:#edeff4;border:1px solid #d2d5ea;color:#a4b5d4;display:block;font-size:25px;font-weight:bold;padding:44px 0;text-align:center;text-decoration:none}
.lifeEventAddPhoto:hover{background-color:#dedfe7;color:#3b5998}
.fbTimelineOneColumn .fbTimelineMapContainerMLE .lifeEventAddPhoto{border:none;font-size:15px;height:65px;padding:30px 0;width:121px}
.fbTimelineTwoColumn .fbTimelineMapContainerMLE .lifeEventAddPhoto{border:none;font-size:18px;margin-bottom:0;margin-left:-12px;padding:36px 0 53px;width:403px}
.imageLifeEventAdd{height:20px;padding-right:10px}
.fbTimelineTwoColumn .fbTimelineMapContainerMLE .imageLifeEventAdd, .fbTimelineOneColumn .fbTimelineMapContainerMLE .imageLifeEventAdd{position:relative}
.fbTimelineTwoColumn .fbTimelineMapContainerMLE .imageLifeEventAdd{top:3px}
.fbTimelineOneColumn .fbTimelineMapContainerMLE .imageLifeEventAdd{display:block;margin-left:45px;margin-right:auto;top:40px}
.hideAddPhoto{opacity:1;position:absolute;right:5px;top:5px}
.afterHiddenText{color:gray;margin-top:20px;text-align:center}
.fbTimelineMapCalloutUnit .fbTimelineMapContainerMLE{display:none}
.permalink_stream .lifeEventIcon{margin-left:20px}
.fbTimelineOneColumn .relationshipImageContainer{height:374px;margin-left:-12px;width:843px}
.fbTimelineTwoColumn .relationshipImageContainer{height:403px;margin-left:-12px;width:403px}
.sp_eytmz6{background-image:url(/rsrc.php/v2/yy/r/h4lzrcLM90N.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}
.sx_6a0e09{background-position:0 0}
.sx_3c8f71{background-position:0 -33px}
._5udn{padding:10px 2px 2px;width:394px}
._5vmu{width:354px}
._5upi{padding:10px 2px 10px}
._5udn .text_exposed_link{padding-bottom:9px}
._5r7_{margin:2px 10px 0 8px}
._5upj{padding:2px 8px 0 51px}
._5t-1:hover{text-decoration:none}

#bootloader_GT73v { height: 42px; }
.bootloader_GT73v { display:block !important; }