/*!CK:3090590111!*//*1387384502,178158885*/


._24n .body ._24x{color:#333}
._6nw ._24n .body ._24x{color:#4e5665}
._24n .body ._24x:hover{text-decoration:none}
._24n .body a.signature{color:#3b5998;display:inline}
._24n .body a.signature:hover{text-decoration:underline}
._24n .hover:hover .title ._24x{text-decoration:underline}
._24n .forceRTL{direction:rtl;text-align:right;display:block}
._24n .forceLTR{direction:ltr;text-align:left;display:block}
._24n .adInfo a.identity{color:gray;display:block;white-space:nowrap}
._6nw ._24n .adInfo a.identity{color:#898f9c;overflow:hidden;text-overflow:ellipsis}
._24n .title{font-weight:bold;margin-bottom:0 !important}
._24n .image_body_block{padding-top:3px}
._24n .uiUfi{width:auto}
._24n .fbEmuHidePoll .otherdiv .other{width:206px}
._24n .ads_rhc_close{opacity:0}
._24n:hover .old_x, ._24n:hover .uiSelectorButton, ._24n:hover .ads_rhc_close, ._24n .ads_rhc_close.openToggler, .emu_x .openToggler .uiSelectorButton{opacity:1}
.fbEmuHidePoll .undo{float:right;padding-left:2px;padding-bottom:2px;margin-bottom:3px;margin-left:5px}
.fbEmuHidePoll .fbEmuXTitle{font-weight:bold}
.fbEmuHidePoll .fbEmuXSubtitle{margin-bottom:10px}
.fbEmuHideThanks .fbEmuXThanksTitle{font-weight:bold;margin-bottom:10px}
.fbEmuBlock .fbEmuHidePoll .otherdiv{margin-left:20px}
.emu_x{float:right}
.emu_x .uiSelectorButton{opacity:0}
.old_x{opacity:0}
.async_throbber .async_saving{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat right;padding-right:20px}
.async_throbber_left .async_saving{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat left;padding-left:20px}
.text_exposed_root{display:inline}
.text_exposed .text_exposed_show{display:inline}
.text_exposed_show,
.text_exposed .text_exposed_hide{display:none}
.text_exposed_link{padding:0 0 0 .37em;white-space:nowrap}
.text_exposed_link_icon{margin:0 0 -1px 4px}
.text_exposed .text_exposed_link{display:none !important}
._dxr{position:absolute;right:9px;top:7px;z-index:2}
._5jc0._dxr{top:33px}
._dxs{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-565px -38px;display:block;height:20px;opacity:0;width:16px}
._5im_ ._dxs{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-778px -38px;height:10px;margin-top:2px;width:15px}
._5kan:focus ._dxs, .timelineUnitContainer:hover ._dxs, ._6kq ._dxs:focus, ._6kq:hover ._dxs, ._598q ._dxs{opacity:.5}
._6kq ._dxs:hover{opacity:.8}
.timelineUnitContainer .selected ._dxs, ._6kq .selected ._dxs{opacity:1}
.uiContextualLayerBelowRight ._57md._54nq ._54ng{-webkit-border-radius:3px}
.rhcFooterWrap{padding-left:6px}
.rhcFooterBorder{border-bottom:1px solid #e9e9e9}
.rhcFooterCopyright{padding:10px 0 4px}
#rhc_footer_selector{vertical-align:top}
.rhcFooterSelectorButton .img{margin:6px 0 0 3px;vertical-align:top}
._8_9.ego_column{width:auto}
._8_9 .ego_section{margin:0}
._8_9 .ego_section .uiSideHeader{padding-bottom:0}
._8_9 .ego_section .ego_unit{margin:0;padding:8px 0}
._8_9 .ego_section .ego_unit ._4u8 .fbEmuMarketplace .uiSelectorMenu{margin-top:-3px}
._8_9.egoOrganicColumn .ego_section .ego_unit:last-child{padding-bottom:12px}
._8_9 .ego_section .adsCategoryIcon{margin-top:-2px}
._8_9 .ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._8_9 .ego_unit .action{margin-top:0}
._8_9 .ego_unit .action ._24x{outline:none}
._8_9 .ego_unit .ego_x, ._8_9 .ego_unit .emu_x{margin-right:-11px}
._4tot{margin-left:12px}
._8_9 .action .fbEmuContext{display:inline-block}
._8_9 .ego_unit .action ._24x, ._8_9 .action .fbEmuContext, ._8_9 .action .inlineContext{margin-top:8px}
._8_9 .action .inlineContext .fbEmuContext{margin-top:0}
._8_9 .ego_unit .action .fbEmuContext a, ._8_9 .ego_unit .messageBody, ._8_9 .ego_unit .messageBody a, ._8_9 .ego_unit .uiLinkSubtle, ._8_9 .ego_unit .eventRSVP a, ._8_9 ._a1z, ._8_9 ._a1z a{color:#898f9c}
._8_9 .fbEmuStreamStory .messageBody .whitespaceLink:hover, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, ._8_9 .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#fff}
._8_9 ._5g4m{padding:0 4px}
._8_9 ._5g4m img{opacity:.8}
._8_9 .uiStream .uiStreamMessage{margin-bottom:0}
._8_9 .fbEmuStreamStory .fadStoryAttachment, ._8_9 .fbEmuStreamStory .fadStoryFooter{margin-top:8px}
._8_9 .fbEmuXThanksBody a{font-weight:bold}
._8_9 .ego_unit .uiStreamPassive a, ._8_9 .ego_unit .egoProfileTemplate .ego_title, ._8_9 .ego_unit .eventTitle, ._8_9 .ego_unit .fbEmuMainBody a, ._8_9 .ego_unit .fbEmuStreamStory .uiBlingBox .text{color:#232b37}
._8_9 .ego_unit .action .fbEmuContext a{display:inline;font-weight:bold}
._8_9 .ego_unit .lfloat{margin-right:10px}
._8_9 .ego_unit .lfloat > .img{padding-top:0}
._8_9 .ego_unit .image_body_block, ._8_9 .ego_unit .fbEmuContext, ._8_9 .ego_unit_container{line-height:16px;padding:0}
._8_9 .ego_section .ego_unit:first-child, ._8_9.egoOrganicColumn .ego_section .ego_unit:first-child{padding-top:10px}
._8_9 .ego_unit .uiStream .uiStreamMessage{font-size:12px}
._8_9 .ego_unit .uiStarsRatable{margin-top:5px}
._8_9 .egoPlaceComboInput .uiTypeaheadSpan{padding:0}
._8_9.egoOrganicColumn .ego_section .ego_unit{border-top:0;padding:6px 0}
._8_9 .uiStream .uiStreamPassive{color:#4e5665;font-size:12px}
._8_9 .uiStream .uiStreamPassive a{font-weight:bold;text-decoration:none}
.ego_x{float:right;opacity:0}
.ego_unit:hover .ego_x{opacity:1}
.ego_title{display:block;font-weight:bold;line-height:13px;max-width:162px;word-wrap:break-word}
.ego_page .UIStandardFrame_Container{padding-left:0;width:980px}
.ego_page .UIStandardFrame_Content{width:720px}
.ego_page .UIStandardFrame_SidebarAds{width:auto}
.ego_column{width:244px}
.ego_section{margin-bottom:15px}
.ego_section .async_saving a{display:none}
.ego_section .indicator{display:none}
.ego_section .async_saving .indicator{display:inline}
.ego_section .adsCategoryIcon{vertical-align:-1px}
.ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
.adsCategoryTitleLink{color:#666}
div.egoProfileTemplate div{margin-top:2px;line-height:13px}
div.ego_unit_container div.clickable{cursor:hand;cursor:pointer}
div.egoProfileTemplateSubtitle{color:gray}
.draggingMode{-webkit-user-select:none}
.photocrop .bg, .photocrop .guard, .photocrop .wrapper, .photocrop .wrapper *{position:absolute}
.photocrop .bg{background:#000;opacity:.6}
.photocrop .guard{height:100%;left:0;top:0;width:100%}
.photocrop .highlight{left:0;top:0}
.photocrop .viewport{cursor:move}
.photocrop .viewport div{background-color:#d8dfea;height:10px;opacity:.5;width:10px}
.photocrop .viewport .nw{cursor:nw-resize;left:-5px;top:-5px;z-index:3}
.photocrop .viewport .ne{cursor:ne-resize;right:-5px;top:-5px;z-index:3}
.photocrop .viewport .se{cursor:se-resize;bottom:-5px;right:-5px;z-index:3}
.photocrop .viewport .sw{cursor:sw-resize;bottom:-5px;left:-5px;z-index:3}
._agk{margin-right:3px;vertical-align:-2.9px}
.timelineAudienceSelector{margin-left:1px;margin-top:-3px}
.timelineAudienceSelector.passiveImg{margin-left:5px}
.timelineUnitContainer .timelineAudienceSelector .wrap .uiSelectorButton{background-color:transparent;background-image:none;padding-right:8px;padding-right:20px;padding-left:8px}
.timelineUnitContainer:hover .timelineAudienceSelector.newAudienceSelector
.uiSelectorButton{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:right -213px;border:1px solid #ddd}
.timelineUnitContainer:hover .timelineAudienceSelector.newAudienceSelector
.uiSelectorButton:hover, .timelineUnitContainer .timelineAudienceSelector .uiSelectorButton:hover{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:right -114px;border:1px solid #999}
.highContrast .timelineUnitContainer .timelineAudienceSelector .wrap .uiSelectorButton::before{content:attr(aria-label)}
.highContrast .timelineUnitContainer .timelineAudienceSelector .wrap .uiSelectorButton::after{content:'\25BC'}
.timelineUnitContainer:hover .timelineAudienceSelector.audienceSelector
.openToggler .uiSelectorButton, .timelineUnitContainer .timelineAudienceSelector.audienceSelector .openToggler
.uiSelectorButton, .timelineUnitContainer .timelineAudienceSelector.audienceSelector .openToggler
.uiSelectorButton:hover{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:right -261px;background-color:#6d84b4;border:1px solid #3b5998;border-bottom-color:#6d84b4;-webkit-box-shadow:none}
.timelineAudienceSelector .uiSelectorMenuWrapper{margin-top:0}
.timelineUnitContainer .audienceSelector .uiSelectorMenu .itemIcon, .uiContextualLayer .timelineAudienceSelector .uiSelectorMenu .itemIcon{display:none}
.timelineUnitContainer .uneditable .uiSelectorMenu .itemIcon{display:inline-block}
.storyOnlyMe .timelineAudienceSelector .openToggler
.uiSelectorButton .customimg{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:left -187px;height:12px;margin-left:-4px;margin-right:4px;margin-top:1px;width:12px}
.storyOnlyMe .timelineAudienceSelector.audienceSelector .customimg{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-702px -62px;height:12px;margin-left:-4px;margin-right:4px;margin-top:1px;width:12px}
.timelineAudienceSelector .uiSelectorButton .defaultIcon, .timelineAudienceSelector .uiSelectorButton .itemIcon{margin-top:2px}
.timelineAudienceSelector .uiSelectorButton span.uiButtonText{display:none}
.storyOnlyMe .timelineAudienceSelector.audienceSelector .openToggler
.uiSelectorButton span.uiButtonText{color:#fff}
.storyOnlyMe .timelineAudienceSelector .uiSelectorButton
span.uiButtonText{margin-left:1px}
.storyOnlyMe .timelineAudienceSelector .uiSelectorButton span.uiButtonText{color:#3b5998;display:inline-block;line-height:1;margin-left:3px}
.fbTimelineCapsule{background:url(/rsrc.php/v2/yD/r/N8eF8pLkCCD.png) repeat-y center top;margin:0;padding:15px 0;position:relative;list-style:none}
.fbTimelineCapsuleBorn{padding-bottom:0}
.fbTimelineCapsule:empty{display:none}
.fbTimelineBalancer{height:0;overflow:hidden;position:absolute}
.fbTimelineCapsule .timelineUnitContainer{background:#fff;border-left:1px solid #c4cde0;border-right:1px solid #c4cde0;padding:13px 15px}
.fbTimelineCapsule .topBorder{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:-412px -4px;height:3px;width:411px}
.fbTimelineCapsule .bottomBorder{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:0 -4px;height:4px;width:411px}
.fbTimelineCapsule .fbTimelineOneColumn .topBorder{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;width:851px}
.fbTimelineCapsule .fbTimelineOneColumn .bottomBorder{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;width:851px}
.fbTimelineCapsule .spinePointer{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:-800px -9px;height:15px;left:-18px;position:absolute;top:20px;width:19px;z-index:1}
.fbTimelineCapsule .fbTimelineOneColumn .spinePointer{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:-764px -9px;height:21px;left:418px;top:-20px;width:15px}
.fbTimelineCapsule .spinePointerDownward .spinePointer{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:-748px -9px;top:auto;bottom:-19px}
.fbTimelineOneColumn{clear:both;z-index:2}
.fbTimelineOneColumn + .fbTimelineOneColumn{margin-top:30px}
.fbTimelineUnit{display:block;margin-bottom:15px;position:relative}
.fbTimelineUnit:hover{z-index:2}
.fbTimelineUnit .uiStreamStory .mainWrapper{margin-right:0;padding-top:9px}
.fbTimelineUnit .fbMainStreamAttachment{min-height:80px}
.fbTimelineUnit .fbMainStreamAttachment .uiVideoThumb img{max-height:100px}
.fbTimelineUnit .uiStreamFooter{min-height:16px}
.fbTimelineCapsule .fbTimelineIndeterminateContent{margin-bottom:0}
.fbTimelineCapsule .fbTimelineIndeterminateContent .bottomBorder{margin-bottom:15px}
.fbTimelineUnit[data-side="l"]{clear:left;float:left}
.fbTimelineTwoColumn[data-side="l"] .spinePointer{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:-780px -9px;left:auto;right:-18px}
.fbTimelineCapsule .leftColumn .spinePointer{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:-780px -9px}
.fbTimelineTwoColumn[data-side="l"] + .fbTimelineTwoColumn[data-side="r"] .spinePointer{top:40px}
.fbTimelineTwoColumn[data-side="r"]{clear:right;float:right}
.fbTimelineCapsule .placeholderUnit{visibility:hidden}
.fbTimelineCapsule .placeholderUnit[style]{visibility:visible;z-index:1}
.fbTimelineTwoColumn .timelineUnitContainer{width:379px}
.timelineUnitContainer .onlyMeBorder, .fbTimelineCapsule .onlyMeBorder{background:url(/rsrc.php/v2/y5/r/Iuw9iVcAzd4.png) 0 19px;display:none}
.timelineUnitContainer .storyOnlyMe .onlyMeBorder, .fbTimelineCapsule .storyOnlyMe .onlyMeBorder{display:block;height:8px;margin:-12px -12px 6px -12px}
.storyOnlyMe.timelineReportContainer.timelineFullWidthReport.ogProfileReport.ogTimeline .onlyMeBorder{margin:3px}
.storyOnlyMe.timelineReportContainer.ogProfileReport.ogTimeline .onlyMeBorder{margin:0 3px}
.storyOnlyMe.timelineReportContainer.ogProfileReport.ogTimeline .onlyMeBorderTop{margin:0 3px 3px}
.timelineReportContainer .timelineReportContent .storyOnlyMe div.editControls{top:1px}
.timelineReportContent .storyOnlyMe .onlyMeBorder{display:none}
.timelineUnitContainer .storyOnlyMe .onlyMeBorderBottom, .fbTimelineCapsule .storyOnlyMe .onlyMeBorderBottom{margin:15px -12px -12px -12px}
.timelineUnitContainer .storyOnlyMe div.editControls, .fbTimelineCapsule .storyOnlyMe div.editControls{top:16px}
.timelineReportContent .fbTimelineColumnHidden, .fbTimelineColumnHidden .timelineUnitContainer, .fbTimelineColumnHidden .spinePointer{display:none}
.fbTimelineColumnHidden .hiddenText{display:block}
.fbTimelineColumnHidden .undoButton{float:right;margin-top:-4px}
.fbTimelineCapsule div.fbTimelineComposerUnit{padding:0 5px 4px 5px;width:399px}
div.fbTimelineComposer{border-bottom:0}
.fbTimelineComposer div.focus_target{padding-bottom:0}
div.fbTimelineComposer .attachmentLoader{border-left:0;margin-top:3px}
.fbTimelineComposerUnit .UIShareStage_Title{max-width:250px}
.fbTimelineComposerAttachments > li{border-left:1px solid #e5e5e5;height:31px;margin:3px 0;padding:0}
.fbTimelineComposerAttachments > li:first-child{border:0}
.fbTimelineComposerAttachments .attachmentLink, .fbTimelineComposer .uiComposerAttachment .selected{margin:0 3px;padding:7px 7px 8px !important}
.fbTimelineComposerAttachments .attachmentLink{display:block}
.fbTimelineComposerAttachments .uiComposerAttachmentSelected .normal{display:none}
.fbTimelineComposerAttachments a.attachmentLink:hover{background:#ebeef4}
.fbTimelineComposerAttachments a.attachmentLink:hover, .fbTimelineComposerAttachments a.attachmentLink:focus{text-decoration:none}
.fbTimelineComposerAttachments .attachmentLink .attachmentName, .fbTimelineComposer .uiComposerAttachment .selected .attachmentName{vertical-align:middle}
.fbTimelineComposerAttachments .attachmentLink .img, .fbTimelineComposer .uiComposerAttachment .selected .img{margin-right:4px;position:static;vertical-align:middle}
.fbTimelineComposerAttachments .attachmentLifeEvents{margin-bottom:10px;padding:4px 7px 0}
ul.fbTimelineComposerAttachments, .uiComposerOpen ul.fbTimelineComposerAttachments{padding:0}
.async_saving .attachmentLifeEvents .uiButton{background-color:#fff;border-color:transparent}
ul.fbTimelineComposerAttachments .uiComposerAttachment .nub{left:9px;top:29px}
.fbTimelineComposerUnit .audienceSelector .uiSelectorButton .uiButtonText{max-width:113px !important}
div.fbTimelineComposerUnit .audienceSelector .uiSelectorMenu .itemIcon{display:inline-block}
.fbTimelineComposer .attachmentBarArea{position:absolute;white-space:nowrap}
.fbTimelineComposer .timeTaggerIcon{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:-638px -9px;width:29px}
.fbTimelineComposer .timeTaggerIcon.selected{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:-668px -9px}
.fbTimelineComposer .feedTargetingIcon{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-318px -113px;width:29px}
.fbTimelineComposer .feedTargetingIcon.selected{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:0 -156px}
.fbTimelineComposerCapsule .storyOnlyMe div.onlyMeBorder{margin:0 -3px}
.fbTimelineComposerCapsule .storyOnlyMe div.onlyMeBorderBottom{margin:3px -3px -3px}
.fbTimelineCapsule li.fbTimelineComposerCapsule{z-index:3}
._t6{border-top:1px dashed #bdc7d8;padding:3px}
._4_nu ._d30{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:-638px -9px}
._4_na ._d30{background-image:url(/rsrc.php/v2/yD/r/ZPAtnHzK0na.png);background-repeat:no-repeat;background-size:auto;background-position:-668px -9px}
._5rn9{margin:4px 4px 0 0}
._5r65{float:left}
._5qdo{display:inline-block;margin-left:5px;width:100px}
._5t7v{margin-left:5px;position:relative;top:-5px}
._5qdp{border-top:1px dashed #bdc7d8}
._5ri2{padding:5px 0 3px}
._5qdq{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:right -21px;color:#3b5998;margin:0 2px;padding:0 9px 2px 3px}
._5qdr{border-top:1px solid #bdc7d8;padding:5px 5px 3px}
._5ri3{padding:0 0 5px 7px}
._5ri4{position:relative;top:-1px}
._mj{padding-top:3px}
._307 .composerAudienceSelector .uiButtonText{display:none !important}
._307 .composerAudienceSelector .uiSelectorButton .customimg{margin-right:-3px}
._2_3{position:relative}
._2_3 ._2yj{padding:0 0 3px}
._2yj .uiIconText{margin:0 3px;padding:7px 7px 8px !important}
._2yj .uiIconText:hover{background:#ebeef4}
._2yj .uiIconText:hover, ._2yj .uiIconText:focus{text-decoration:none}
._2yj .uiIconText .img{position:static;vertical-align:top}
._2yj ._2-s{display:inline-block;margin-top:2px}
._2yj .img{margin-right:4px}
._2_3 ._2yj ._2wr{left:10px;top:29px}
._2_3 ._4_nt{position:absolute;right:2px;top:5px}
._2_3 ._3i-{float:right;margin-top:10px}
._2_3 ._4s3{left:410px;position:absolute}
._1_m{border-bottom:1px solid #e5e5e5}
._5sem ._1_m, ._4lh ._1_m{border:0;margin:0 0 15px;padding:0}
._50c7{height:32px;width:32px}
._5sem ._50c7, ._4lh ._50c7{height:40px;margin-right:1px;width:40px}
._1_n{line-height:15px}
._1_n .uiStreamOGAttached, ._1_n .uiStreamOGAttached a{color:gray}
._1_o{margin-left:6px;position:relative;top:1px}
._1_p{border:none;margin-bottom:12px}
._1_q{margin-top:3px;height:10px;width:10px;vertical-align:top}
._1_r{margin-left:6px;font-weight:bold}
._1_s{font-size:11px;font-weight:normal;margin-right:15px}
._5sem ._1_s, ._4lh ._1_s{font-size:12px;line-height:16px;margin:4px 15px 1px 0}
._1_t ._1_s{margin-right:20px}
._1_s .primaryActor{font-weight:bold}
html ._51x9 ._1_s, .fbTimelineViewingSelf ._1_s{margin-right:51px}
._1_m + .aboveUnitContent{margin-top:15px}
.fbTimelineFeedbackActions{background-color:#edeff4;padding:5px 12px}
.fbTimelineMiniUFI .fbTimelineFeedbackActions{background:transparent;padding:0}
.fbTimelineFeedbackHeader form{display:inline}
.fbTimelineUFI .UIActionLinks_bottom a, .fbTimelineUFI .fbTimelineFeedbackActions input, .fbTimelineUFI .UIActionLinks .uiLinkButton, .fbTimelineUFI .UIActionLinks .uiLinkButton input, .fbTimelineUFI div.fbTimelineFeedbackActions input:hover, .fbTimelineUFI .fbTimelineFeedbackActions button.as_link{color:#3b5998}
.fbTimelineFeedbackHeader .uiBlingBox, .fbTimelineFeedbackHeader .uiBlingBox:hover{border-style:none;height:13px;padding:0}
.fbTimelineFeedbackHeader .uiBlingBox .text{vertical-align:baseline}
.fbTimelineFeedbackComments a:hover, .fbTimelineFeedbackLikes a:hover, .fbTimelineFeedbackShares a:hover{text-decoration:none}
.fbTimelineFeedbackComments a, .fbTimelineFeedbackLikes a, .fbTimelineFeedbackShares a{padding-left:18px;position:relative}
.fbTimelineFeedbackComments i, .fbTimelineFeedbackLikes i, .fbTimelineFeedbackShares i{display:block;left:0;position:absolute;top:-1px;width:14px}
.fbTimelineFeedbackLikes i{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-619px -62px;height:13px}
.fbTimelineFeedbackComments i{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-745px -38px;height:15px}
.fbTimelineFeedbackShares i{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-727px -38px;height:16px}
._561s{line-height:13px;margin-top:2px}
._53ee{margin-top:-5px}
._53ee._5vlm{border-bottom:1px solid #e9e9e9}
._6nw ._53ee{margin-top:0}
html ._58op{padding:0 4px}
html ._5h3q{margin-left:10px;margin-top:4px;padding:2px 4px}
._54bc{display:inline-block}
html ._5ba_ ._54bc{padding-right:40px;padding-top:8px}
html ._5ba_ ._58op{margin-top:3px}
html ._5ba_._5h3r ._54bc{padding-right:0}
._6nw ._5ba_._5h3r ._54bc{padding-right:40px}
._5cl-{overflow:hidden}
html ._54bc .img{margin-left:5px;position:relative;top:-1px;vertical-align:middle}
._569r ._54bc{visibility:hidden}
._569r:hover ._54bc{visibility:visible}
.fbTimelineTimePeriod{background:#e7ebf2 url(/rsrc.php/v2/yD/r/N8eF8pLkCCD.png) repeat-y center top}
.fbTimelineTimePeriod .fbTimelineSectionExpander{padding-bottom:45px}
.fbTimelineTimePeriod .fbTimelineSectionExpander.fbUnrankedUnits{padding-bottom:0;text-align:center}
.fbTimelineTimePeriod .fbTimelineSectionExpander.fbUnrankedUnits .uiMorePager{height:36px;margin-bottom:0}
.fbTimelineTimePeriod .fbTimelineSectionExpander.fbUnrankedUnits.dotdotdot .uiMorePager .uiMorePagerPrimary{font-size:16px;letter-spacing:3px;padding:0;text-decoration:none}
.fbTimelineTimePeriod .fbTimelineSectionExpander.fbUnrankedUnits .uiMorePager .uiMorePagerLoader{margin-top:5px}
.fbTimelineTimePeriodUnexpanded, .fbTimelineTimePeriod .forceLoad, .fbTimelineTimePeriod .loadingIndicator{display:none}
.fbTimelineTimePeriod .loadingContainer{text-align:center}
.fbTimelineSectionLoading .loadingIndicator{background-color:#e7ebf2;display:block;margin:0 auto;padding:8px}
.fbTimelineTimePeriodSuppressed .loadingContainer{padding:0}
.fbTimelineTimePeriodSuppressed .fbTimelineSection{border:0}
.fbTimelineTimePeriodSuppressed .loadingIndicator, .fbTimelineTimePeriodSuppressed .sectionHeader{display:none}
.fbTimelineTimePeriodSuppressed .forceLoad{background-color:#6d84b4;-webkit-border-radius:3px;color:#fff;display:inline-block;height:22px;line-height:22px}
.fbTimelineTimePeriodSuppressed .forceLoad:hover{background-color:#3b5998}
.fbTimelineUFI{background:#fff;position:relative}
html .timelineUnitContainer .fbTimelineUFI{margin-bottom:-12px}
html .timelineUnitContainer .fbTimelineUFIEmpty{margin-top:-3px}
.fbTimelineUFI .fbUfi{padding:0;width:100%}
.fbTimelineUFI .uiUfi .ufiItem{border:0;padding:5px 12px}
.fbTimelineFeedbackLikes,
.fbTimelineFeedbackComments,
.fbTimelineFeedbackShares{float:right;margin-left:5px}
.fbTimelineOneColumn .fbTimelineUFI .uiUfiComment .commentContent{width:600px}
.fbTimelineMiniUFI{margin:0 0 -2px}
.fbTimelineMiniUFI .miniActionList{display:inline-block}
.fbTimelineMiniUFI .uiLoadingIndicatorAsync{margin:0 0 -2px 6px}
.timelineUnitContainer{position:relative}
.timelineUnitContainer .uiCommentContainer{margin-bottom:-12px;margin-left:-12px;padding-top:3px;width:403px}
.fbTimelineOneColumn .uiCommentContainer{width:843px}
.timelineUnitContainer .aboveUnitContent{margin-bottom:15px}
.timelineUnitContainer .belowUnitContent{margin-top:15px}
.timelineUnitContainer .timelineUnitUndoLink{display:inline-block}
.timelineUnitContainer .timelineUnitUndoActionLink{margin-top:5px}
.timelineUnitContainer .timelineUnitUndoActionLink{margin-top:5px}
.timelineUnitContainer .timelineUndoUnitActionList{margin-top:4px;padding-left:12px;list-style-type:disc;list-style-position:outside;color:gray}
.timelineUnitContainer .timelineUndoUnitActionList
.timelineUndoUnitActionListItem{border-style:none;padding-bottom:2px;padding-top:2px}
.timelineUnablePostErrorBox{width:390px}
.timelineUnitContainer .timelineSpamStub{background-color:#f6f7f9;border:1px solid #d3dae8;padding:10px}
.timelineUnitContainer .timelineSpamContent{display:none}
.fbTimelineFeedbackStub.uiCommentContainer{margin-top:12px}
._5rny ._5rnz{background-color:#fff;border-color:#dee2e9 #dbdee5 #d2d5dc #dee2e9;border-style:solid;border-width:0 1px 1px;-webkit-box-shadow:0 1px 3px -1px rgba(0, 0, 0, .15);margin:-12px 0 12px}
._4lh ._1xw{-webkit-box-shadow:0 1px 3px -1px rgba(0, 0, 0, .15)}
._4lh ._5r19{-webkit-box-shadow:none}
._4lh ._1xw, ._4lh ._1xy{border:0}
._1xw{background:#f6f7f9;border:1px solid #d3dae8;display:block;margin-bottom:12px}
._5r19{background:#fff}
._1xw:hover, a._1xx:hover{text-decoration:none}
._1xx{display:block;vertical-align:top;zoom:1}
._1xy{border-right:1px solid #d3dae8;float:left;height:116px;line-height:110px;margin-right:11px;min-width:72px;position:relative;text-align:center}
._1xy .img{vertical-align:middle}
._4lh ._1xy{margin-right:12px}
._4lh ._1xy:after{border:1px solid rgba(0, 0, 0, .15);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
._1xz{padding:8px 11px}
._1x-{max-height:98px;overflow:hidden}
.fbTimelineCapsule > .fbTimelineTwoColumn ._1y0 ._1xz, .fbTimelineCapsule > .fbTimelineTwoColumn ._1y0 ._1x-, ._5sem ._1y0 ._1xz, ._5sem ._1y0 ._1x-{height:98px}
.fbTimelineCapsule > .fbTimelineTwoColumn ._1y0._5r19 ._1xz, .fbTimelineCapsule > .fbTimelineTwoColumn ._1y0._5r19 ._1x-, .fbTimelineTwoColumn ._5qjs ._1xz, .fbTimelineTwoColumn ._5qjs ._1x-{height:auto}
._4lh ._1y0 ._1x-{height:85px}
._4lh ._5r19._1y0 ._1x-{height:auto}
._4lh ._1xz{background:#fff;border:1px solid #dee2e9;border-bottom-color:#d2d5dc;border-right-color:#dbdee5;height:90px;padding:12px}
._4lh ._5r19 ._1xz{border:0;height:auto}
._4lh ._1xw:hover ._1xz{border-color:#e2e2e2 #dadada #ccc;-webkit-box-shadow:0 1px 6px -1px #ccc}
._4lh ._5r19:hover ._1xz{-webkit-box-shadow:none}
body.Locale_zh_CN ._1x-, body.Locale_zh_HK ._1x-, body.Locale_zh_TW ._1x-{max-height:91px}
.fbTimelineOneColumn ._1x-{width:795px}
.fbTimelineOneColumn ._1y0 ._1x-{width:639px}
._1y1{margin-top:14px}
.timelineUnitContainer ._1y2 .exploded{border:none;margin:0 -12px}
.fbTimelineOneColumn .timelineUnitContainer ._1y2 .exploded{width:843px}
._4lh .timelineUnitContainer ._1y2 .exploded{background:transparent;border:none;margin:0 0 0 0;width:486px}
.timelineUnitContainer ._1y2 ._1y3{background:#f2f2f2 no-repeat 50% 50%;display:block;height:214px;margin:-15px 0 12px 0;position:relative;width:379px}
.fbTimelineOneColumn .timelineUnitContainer ._1y2 ._1y3{height:461px;width:819px}
.timelineUnitContainer ._1y2 .exploded .iframeEmbed, .timelineUnitContainer ._1y2 .exploded .swfObject{margin:0 auto}
._1xv{min-width:99px}
._1y4{background:url(/rsrc.php/v2/yG/r/Gj2ad6O09TZ.png) no-repeat 0 0;height:26px;left:50%;margin:-13px 0 0 -17px;position:absolute;top:50%;width:35px}
._1xu ._1y4{background:#fff url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat 50% 50%;height:100%;left:17px;opacity:.7;position:absolute;top:13px;width:100%}
._5qre{background:transparent;border:0}
._5r1a{width:100%}
._4lh ._5r1a{border:1px solid #dee2e9;border-bottom-color:#d2d5dc;border-right-color:#dbdee5}
._4lh ._5r19:hover ._5r1a{border-color:#e2e2e2 #dadada #ccc;-webkit-box-shadow:0 1px 6px -1px #ccc}
._5r1a ._5r1b{background:transparent;-webkit-border-radius:2px;margin:8px 10px 7px 5px}
._5r1b{margin-right:10px}
._5r1c{background:#000;position:relative}
._5r1c .img{display:block;width:100%}
._5r1c ._5r1d{background:rgba(0, 0, 0, .5);border:1px solid #fff;-webkit-border-radius:2px;color:#fff;display:none;left:50%;margin-left:-39px;margin-top:-12px;position:absolute;top:50%}
._5r1c:hover ._5r1d{display:block}
._5r1c:hover .img{opacity:.75}
._5r1c ._5r1d:active{background:rgba(50, 50, 50, .8)}
._5r1c ._5r1d.async_saving{background:rgba(0, 0, 0, .5)}
._5r19 ._1y1{color:#333;font-weight:bold}
._1x1{padding:10px 0 15px}
._4lh ._1x1{margin:15px 0;padding:0}
.fbTimelineOneColumn ._1x1{padding-right:35px}
._1x2 ._1x3{margin-top:-7px}
._1x1 ._1x3{margin-bottom:-15px}
._4lh ._1x1 ._1x3{margin-bottom:-27px}
._1_u{margin-top:-15px;margin-left:-10px;margin-right:-10px}
._1wx{margin:-10px 0 2px -5px}
._1wy ._1wx{margin-bottom:-5px}
._1wz{height:32px;margin-left:-4px;padding:1px 4px;width:32px}
._4lh ._1wz{height:40px;width:40px}
._1w-{width:409px}
.timelineReportContent ._1w-{width:403px}
._4lh ._1w-{width:504px}
._4lh .timelineReportContent ._1w-{width:315px}
._4lh .timelineReportContent ._1wx{margin:-7px 0 -12px -5px}
._4lh ._1_u, ._4lh ._1wx, ._1wy ._1wx, ._4lh ._1wy ._1ww{margin-top:0}
.fbTimelineOneColumn ._1w-{width:843px}
._1w- .fbTimelineUnitMorePager .uiMorePagerPrimary, ._1w- .fbTimelineUnitMorePager .uiMorePagerLoader{border:none;padding:6px 12px}
._1w- .fbTimelineUnitMorePager .uiMorePagerPrimary:hover{border-color:#edeff4}
._4lh ._1w- li._1ww, ._1w- li._1ww{border:0;padding-bottom:0;padding-top:3px}
._1w- ._1ww .fbTimelineUnitMorePager{margin:0 -12px}
._4lh ._1w- li._1ww{-webkit-box-shadow:none;margin:0 8px;padding-top:0}
._4lh ._3rbg ._1w- li._1ww{margin-bottom:3px}
._1w- > li{padding:20px 12px 12px}
._4lh ._1w- > li{border:1px solid #dee2e7;-webkit-box-shadow:0 1px 3px -1px rgba(0, 0, 0, .15);margin:0 5px 15px;padding:10px}
._5oh{padding-top:1px}
._5oi{border-bottom:1px solid #e5e5e5}
._4lh ._5oi{border:0}
._1_u .fbTimelineUFI{margin:-5px -12px 0}
._4lh .fbTimelineUnit ._1_u .fbTimelineUFI{margin:0 -10px -10px;width:auto}
._1w- > li:hover .uiMorePagerPrimary{background:#edeff4;text-decoration:underline}
._4lh ._1w- > li:hover .uiMorePagerPrimary{background:#f6f7f8}
._5oj .fbTimelineFeedbackStub{display:none}
._5oj ._1_u{margin-left:-7px}
._4lh ._4_7u ._1_u, ._4lh ._5oj ._1_u{margin-bottom:-4px;margin-left:-4px}
div.photoUnit{margin:0 -15px;position:relative}
.photoUnit .onlyMePrivacyCorner{display:none}
.storyOnlyMe .photoUnit .photo{position:relative}
.storyOnlyMe .photoUnit .onlyMePrivacyCorner{display:block;bottom:0;position:absolute;right:0}
.photoUnit .photo{float:left}
.photoUnit .photoWrap{margin-left:3px}
.photoUnit .topPhoto{margin-bottom:3px}
.photoUnit .photoWrap.letterboxedImage{background:#f2f2f2}
.fbTimelineTwoColumn .photoUnit .photoWidth1 .photoWrap{height:403px;width:403px}
.fbTimelineTwoColumn .photoUnit .photoWidth2 .photoWrap{height:200px;width:200px}
.fbTimelineTwoColumn .photoUnit .photoWidth3 .photoWrap{height:133px;width:133px}
.fbTimelineTwoColumn .photoUnit .photoWidth3Edge .photoWrap{width:131px}
.fbTimelineOneColumn .photoUnit .photoWidth1 .photoWrap{height:403px;width:843px}
.fbTimelineOneColumn .photoUnit .photoWidth2 .photoWrap{height:420px;width:420px}
.fbTimelineOneColumn .photoUnit .photoWidth3 .photoWrap{height:279px;width:279px}
.fbTimelineOneColumn .photoUnit .photoWidth4 .photoWrap{height:209px;width:209px}
.fbTimelineOneColumn .photoUnit .photoWidth4Edge .photoWrap{width:208px}
.fbTimelineOneColumn .photoUnit .photoWidth4Bottom .photoWrap{height:208px}
.fbTimelineOneColumn .photoUnit .photoWidth6 .photoWrap{height:138px;width:138px}
.fbTimelineOneColumn .photoUnit .photoWidth7 .photoWrap{height:118px;width:118px}
.fbTimelineOneColumn .photoUnit .photoWidth7Edge .photoWrap{width:117px}
.attachmentUnit{border-left:2px solid #c0c9dd;margin:0 0 12px 2px;padding:5px 0 5px 8px}
.sp_c7tuuj{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:12px;width:12px}
.sx_449c50{width:11px;height:11px;background-position:-4px -48px}
.sx_ce2931{width:26px;height:24px;background-position:-200px -40px}
.sx_5c28d2{width:26px;height:24px;background-position:0 -154px}
.sx_b06d1a{width:10px;height:10px;background-position:-219px -168px}
.sx_51b984{width:20px;height:24px;background-position:0 -8px}
.sx_beae60{width:14px;height:13px;background-position:-209px -122px}
.sx_6476f8{width:6px;height:9px;background-position:-222px -67px}
.sx_9cc04c{width:18px;height:18px;background-position:-143px -96px}
.sx_e0700f{width:18px;height:18px;background-position:-162px -96px}
.sx_b37c4f{width:16px;height:10px;background-position:-181px -96px}
.sx_23008d{width:8px;height:8px;background-position:-207px -96px}
.sx_deee28{background-position:-192px -130px}
.sx_aca1b3{background-position:-143px -131px}
.sx_9ef304{background-position:-169px -131px}
.sx_3b6f4e{background-position:-209px -136px}
.sx_94150d{width:8px;height:10px;background-position:-221px -156px}
.sx_e564d2{height:13px;background-position:-70px -132px}
.sx_2b4f36{height:13px;background-position:-94px -132px}
.sx_c9abee{height:13px;background-position:-118px -132px}
.sx_9c4406{background-position:-27px -154px}
.sx_6036cf{width:8px;height:10px;background-position:-198px -96px}
.sx_110631{background-position:-10px -132px}
.sx_865ce8{background-position:-42px -132px}
.sx_63f43a{width:78px;height:28px;background-position:0 -67px}
.sx_7669ae{width:63px;height:23px;background-position:-158px -67px}
.sx_ad4065{width:78px;height:28px;background-position:-79px -67px}
.sx_cf09f3{width:63px;height:20px;background-position:-79px -96px}
.sx_31dac4{width:78px;height:25px;background-position:0 -96px}
._5pan{margin-left:18px}
._5pc6{display:none;text-align:center}
._5pc7, ._5pc7:hover{display:block;text-decoration:none}
.async_saving ._5pc6{display:block}
.async_saving ._5pc7{display:none}
.uiStreamLargeHeadline .uiStreamStory .uiStreamHeadline{font-size:13px;line-height:1.38}
.uiStreamLargeHeadline .uiStreamStory .ministoryMessage{font-size:11px;line-height:1.28}
.shareRedesign.largeMedia .shareRedesignContainer .shareMediaPhoto,
.shareRedesign.largeMedia .shareRedesignContainer .shareMediaVideo{height:154px;width:154px}
.shareRedesign.largeMedia .shareRedesignContainer .shareMediaVideo .img{max-height:154px;max-width:154px}
.shareRedesign.largeMedia .shareRedesignContainer .attachmentText{max-height:134px}
.shareRedesign.largeMedia .shareRedesignContainer .shareText{max-height:154px;padding-bottom:7px}
.shareRedesign.largeMedia .shareRedesignContainer .uiAttachmentDesc,
.shareRedesign.fullWidthMedia .shareRedesignContainer .uiAttachmentDesc{margin-top:7px}
.shareRedesign.fullWidthMedia .shareRedesignContainer .shareMediaPhoto{height:208px;width:100%}
.shareRedesign.fullWidthMedia .shareRedesignContainer .shareMediaVideo .img{max-height:208px;max-width:100%}
.shareRedesign.fullWidthMedia.substory .shareRedesignContainer .shareMediaPhoto{height:187px;width:100%}
.shareRedesign.fullWidthMedia .shareRedesignContainer .attachmentText{max-height:76px}
.shareRedesign.fullWidthMedia .shareRedesignContainer .shareText{max-height:106px;min-height:initial;padding-bottom:7px}
.shareRedesign{position:relative;width:398px}
.uiStreamSubstory .shareRedesign{width:358px}
html .tickerDialogContent .shareRedesign{width:281px}
.shareRedesign .exploded .shareText, .shareRedesignText:before, .shareRedesign .shareRedesignContainer:before{border-left:1px solid rgba(0, 0, 0, .08)}
.shareRedesign .shareRedesignMedia:after, .shareRedesign .exploded .shareText, .shareRedesignRightBorder{border-right:1px solid rgba(0, 0, 0, .08)}
.shareRedesignTopBorder, .shareRedesignBottomBorder{border-top:1px solid rgba(0, 0, 0, .08);left:1px;position:absolute;right:1px;top:0}
.shareRedesignBottomBorder, .shareRedesignText:before, .shareRedesign .shareRedesignContainer:before, .shareRedesignRightBorder{bottom:0;position:absolute;right:0;top:0}
.shareRedesignBottomBorder{top:auto}
.shareRedesign .exploded + .shareRedesignTopBorder, .shareRedesign .exploded + .shareRedesignTopBorder + .shareRedesignRightBorder{display:none}
.shareRedesignText:before, .shareRedesign .shareRedesignContainer:before{content:'';left:0;right:auto;z-index:1}
.shareRedesign .shareRedesignContainer.exploded:before{display:none}
.shareRedesign .exploded .iframeEmbed, .shareRedesign .exploded .swfObject{display:block;float:none;margin-bottom:0}
.shareRedesign .shareMediaVideo{text-align:center}
.shareRedesign .shareMediaLink, .shareRedesign .shareMediaVideo, .shareRedesign .shareMediaVideo .img, .shareRedesign .exploded iframe{display:block}
.shareRedesign .exploded .shareRedesignVideo, .shareRedesign .exploded{border:0}
.shareRedesign .exploded .shareText{margin-top:-1px;padding-top:10px}
.shareRedesign .uiAttachmentTitle{color:#3b5998}
.shareRedesign .uiAttachmentTitle:hover{text-decoration:underline}
.shareRedesign .uiAttachmentDescTruncated{max-height:28px;overflow:hidden}
.shareRedesign .shareRedesignMedia{margin-right:0;position:relative}
.shareRedesign .shareRedesignMedia:after{bottom:1px;content:'';position:absolute;right:0;top:1px}
.shareRedesign .exploded .shareRedesignMedia:after{display:none}
.shareRedesign .shareMediaPhoto{background-position:50% 50%;background-repeat:no-repeat;display:block;height:90px;width:90px}
.shareRedesign .shareText{cursor:pointer;display:block;padding-top:8px;text-decoration:none}
.shareRedesign .shareText.shareTextContainsHTML{cursor:default}
.shareRedesign .exploded .shareText{min-height:initial}
.shareRedesignContainer .shareText{min-height:72px}
.shareRedesignText, .shareRedesignContainer, .shareRedesign .shareMediaVideo{background-color:#f7f7f7}
.shareRedesign .attachmentText{max-height:72px;overflow:hidden}
.shareRedesign .attachmentText.smallHeightText{max-height:70px}
.shareRedesign .uiAttachmentDesc{margin-top:3px}
.shareRedesign .uiStreamActionFooter{margin-top:8px}
.uiStream .uiStreamMessage{color:#000;font-size:11px;font-weight:normal;margin:0 0 5px 0}
.uiStream .uiStreamHeadline{margin-bottom:0;outline:none}
.uiStreamHeadline .uiLikePage{float:right;margin:0 -15px 0 15px}
.uiStreamHeadline .uiJoinGroupButton{margin:-5px 30px 0 0}
.uiLikePage.newChevronButton{margin-right:-10px}
.uiStreamHeadlineWithLikeButton{min-height:31px}
.uiStream .uiStreamPassive{margin-bottom:5px}
.Locale_zh_CN .uiStream .uiStreamMessage, .Locale_zh_TW .uiStream .uiStreamMessage, .Locale_zh_HK .uiStream .uiStreamMessage{font-size:13px}
.Locale_ja_JP .uiStream .uiStreamMessage{font-size:12px}
.uiStreamMessage, .uiAttachmentTitle, .uiAttachmentDesc{word-break:break-word;word-wrap:break-word}
.uiStreamMessage .actorDescription{margin-bottom:3px}
.uiStreamMessage .suggestionBio .actorDescription{padding-bottom:0}
.uiStreamMessage .suggestionBio{width:410px}
div.uiAttachmentTitle{color:#333}
.permalink_stream{position:relative}
.uiStreamStory .mainWrapper{margin:0 35px 14px 0;padding-top:14px}
.uiStreamStory .actorPhoto{margin-bottom:14px;margin-top:14px}
.uiStreamStory .storyContent .storyInnerContent{margin-left:60px}
.uiStreamStory .uiStreamSubstory .storyInnerContentSmallPic{margin-left:40px}
.uiStream .uiStreamHide{margin-top:18px;position:absolute;right:0;top:0}
.uiStream .substoryHideSelector{float:right;margin:-2px 0 0 0}
.holdoutAdStory{display:none}
.holdoutAdStory:first-child + .uiStreamStory{border-top:none}
.uiStreamStory{padding:0;position:static}
.homeWiderContent .uiStreamStory{margin-left:-18px;padding-left:18px}
.uiStream .uiStreamHide .uiSelectorButton, .uiStream a.uiCloseButton.uiStreamHide, .uiStream .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .uiSelectorButton{left:-9999px;position:absolute}
.uiStream .uiStreamStory:hover .uiStreamHide .uiSelectorButton, .uiStream .uiStreamStory:hover a.uiCloseButton.uiStreamHide, .uiStream .uiStreamStory .uiStreamSubstory:hover .uiStreamHide .uiSelectorButton, .uiStream .uiStreamStory .uiStreamHide .openToggler .uiSelectorButton, .uiStream .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .openToggler .uiSelectorButton{left:auto}
.uiStream a.uiCloseButton.uiStreamHide.alwaysShowHideButton, .uiStream .uiSelectorButton:focus{left:auto !important}
.uiStream a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-143px -96px;height:19px;margin-top:-1px;width:18px}
.uiStream a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab:hover{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-162px -96px}
.uiStreamStory:first-child a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab, .uiStreamStory:first-child a.uiCloseButton.uiStreamHide.alwaysShowHideButton.xButtonInTab:hover{margin-top:0}
.uiStreamHide .uiStreamContextButton, .uiStreamStory:hover .uiStreamSubstory .uiStreamHide .uiStreamContextButton{left:-9999px;position:absolute}
.uiStreamStory:hover .uiStreamHide .uiStreamContextButton, .uiStreamStory .uiStreamSubstory:hover .uiStreamHide .uiStreamContextButton, .uiStreamStory .uiStreamHide.openToggler .uiStreamContextButton, .uiStreamStory:hover .uiStreamSubstory .uiStreamHide.openToggler .uiStreamContextButton{left:auto}
.uiStreamStory .uiStreamContextButton:focus{left:auto !important}
.uiStream .uiAttachmentDesc, .uiStream .uiStreamPassive, .uiStream .uiStreamRobotextBeforeMessage, .uiStream .uiAdminAttribution{color:gray}
.uiStream .tagIcon{vertical-align:bottom}
.uiStream .text_exposed_link{display:block;font-size:11px;padding-left:0;padding-top:4px}
.storyContent{padding-bottom:2px;position:relative}
.uiStream .uiStreamStoryHide .storyContent{display:none}
.uiStream .uiStreamStoryHidden{display:none}
.uiStreamAttachments .external.photoLink{overflow:hidden;position:relative}
.uiStreamAttachments .external .linkOverlay{background:url(/rsrc.php/v2/yj/r/QijIVO3ZIrO.png) repeat-x 0 0;bottom:0;color:#fff;height:36px;left:0;position:absolute;right:0}
.uiStreamAttachments .external .shareIcon{bottom:5px;height:16px;position:absolute;right:5px;width:16px}
.uiStreamAttachments .profilePhotoAttachment, .uiStreamAttachments .external img{max-height:90px;max-width:90px}
.uiStreamAttachments.streamAttachmentWidePhoto .external img{max-height:210px;max-width:210px}
.uiStream .uiAttachmentDetails{color:#333}
.uiAttachmentInline .uiAttachmentTitle, .uiAttachmentInline .uiAttachmentDesc{display:inline}
.uiStreamMessage .actorName, .uiStreamMessage .passiveName{font-weight:bold}
.uiStreamMessage .wallArrowIcon{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-764px -62px;height:9px;margin:0 5px;width:11px}
.uiAttachmentNoMedia{border-left:2px solid #ccc}
.uiAttachmentMedia{float:left}
.uiAttachmentMediaFiles{outline:none;width:100%}
.uiStreamAttachments .text_exposed .truncatedMediaInfo{clear:both;display:block;padding-left:0;width:auto}
.uiStreamAttachments .truncatedMediaItem{display:none}
.uiStreamAttachments .text_exposed .truncatedMediaItem{display:block}
.uiStreamAttachments .truncatedMediaInfo{display:table;zoom:1}
.uiStreamCollapsed{border-top:1px solid #eee}
.uiStreamSubstories li.showAll{line-height:15px;padding:0}
.uiStreamSubstories li.showAll a{color:#6d84b4;display:block;padding:8px 0 0}
.uiStreamSubstories .uiUfi{width:350px}
.uiStream .uiStreamSeparator{background-color:#e9e9e9;border:0;height:7px;margin:6px 0;padding:0;text-align:center}
.uiStream .uiStreamSeparatorText{background-color:#fff;padding:0 5px;position:relative;top:-4px}
.uiStream .suppressBorder{border-top:0}
.uiStreamEdgeStoryLineTx{background-color:#fff;color:gray;left:32px;padding:0 8px;position:relative;top:-20px}
.uiStreamEdgeStoryLine hr{background:#e5e5e5;margin:8px 0 10px 0}
.uiStreamEdgeStoryLineWithLabel{height:23px;padding-top:1px}
.uiStreamFooter, .uiStreamSource, .uiStreamSource a, .uiStreamSource .uiLinkSubtle, .uiStreamFooter .uiStreamSource a, .uiStreamFooter .uiStreamSource .uiLinkSubtle, .uiStreamAdditionalLogging, .uiStreamSponsoredLink, .uiStreamPrivacyContainer{color:#999}
.uiStreamNub{border-bottom:1px solid #c2cbe1;margin-top:2px}
html .uiStreamFooter{display:table-cell}
.uiStreamFooter{width:10000px}
.uiStreamHomepage .uiStreamStory:first-child{margin-top:-6px}
.uiStreamHomepage .uiStreamStory:first-child .actorPhoto{margin-top:18px}
.uiStreamHomepage .uiStreamStory:first-child .mainWrapper{padding-top:18px}
.uiStreamActionFooter .UIActionLinks_bottom a{color:#3b5998}
.uiStream .uiStreamStory .highlightSelector{margin:-2px 10px 0 0}
.uiStream .uiStreamStory .substoryHideSelector{margin:-2px 0 0}
.permalink_stream .highlightSelector .uiSelectorMenuWrapper, .uiStream .uiStreamStory .highlightSelector .uiSelectorMenuWrapper{margin:-3px 1px 0 0}
.permalink_stream .fbStreamPermalinkHeader .highlightSelector{float:right;margin-right:0;margin-top:0}
.permalink_stream .highlightSelector .highlightSelectorButton{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-79px -96px;border:0;-webkit-box-shadow:none;display:inline-block;height:21px;line-height:21px;overflow:hidden;padding:0;text-indent:50px;width:21px}
.permalink_stream .bigHideButton .highlightSelectorButton{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:0 -96px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton, .uiStream .highlightSelector .highlightSelectorButton{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-501px -38px}
.uiStream .bigHideButton .highlightSelectorButton{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:0 -67px}
.highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-158px -67px}
.bigHideButton .highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-79px -67px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton, .uiStream .highlightSelector .highlightSelectorButton, .highlightEditSelectorButton{border:0;-webkit-box-shadow:none;display:inline-block;height:24px;line-height:24px;overflow:hidden;padding:0;text-indent:50px;width:21px}
.permalink_stream .highlightSelector .highlightSelectorButton, .permalink_stream .highlightSelector .highlightSelectorButton:active, .permalink_stream .highlightSelector .highlightSelectorButton:focus, .permalink_stream .highlightSelector .highlightSelectorButton:hover{background-color:transparent;border:0;height:21px;padding:0;width:21px}
.permalink_stream .bigHideButton .highlightSelectorButton, .permalink_stream .bigHideButton .highlightSelectorButton:active, .permalink_stream .bigHideButton .highlightSelectorButton:focus, .permalink_stream .bigHideButton .highlightSelectorButton:hover{height:25px;width:26px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton, .uiStream .uiStreamStory .highlightSelector .uiSelectorButton:active, .uiStream .uiStreamStory .highlightSelector .uiSelectorButton:focus, .uiStream .uiStreamStory .highlightSelector .uiSelectorButton:hover, .uiStream .highlightSelector .highlightSelectorButton, .uiStream .highlightSelector .highlightSelectorButton:active, .uiStream .highlightSelector .highlightSelectorButton:focus, .uiStream .highlightSelector .highlightSelectorButton:hover, .highlightSelector .highlightEditSelectorButton{background-color:transparent;border:0;height:24px;padding:0;width:21px}
.uiStream .uiStreamStory .bigHideButton .uiSelectorButton, .uiStream .uiStreamStory .bigHideButton .uiSelectorButton:active, .uiStream .uiStreamStory .bigHideButton .uiSelectorButton:focus, .uiStream .uiStreamStory .bigHideButton .uiSelectorButton:hover, .uiStream .bigHideButton .highlightSelectorButton, .uiStream .bigHideButton .highlightSelectorButton:active, .uiStream .bigHideButton .highlightSelectorButton:focus, .uiStream .bigHideButton .highlightSelectorButton:hover, .bigHideButton .highlightEditSelectorButton{height:28px;width:26px}
.permalink_stream .highlightSelector .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-100px -96px;border:0;padding:0}
.permalink_stream .bigHideButton .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-26px -96px}
.uiStream .uiStreamStory .highlightSelector .uiSelectorButton:hover, .highlightSelector .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-522px -38px;border:0;padding:0}
.uiStream .uiStreamStory .bigHideButton .uiSelectorButton:hover, .bigHideButton .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-26px -67px}
.highlightSelector .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-179px -67px;border:0;padding:0}
.bigHideButton .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-105px -67px}
.permalink_stream .highlightSelector .openToggler .highlightSelectorButton, .permalink_stream .highlightSelector.openToggler .highlightSelectorButton, .permalink_stream .highlightSelector .openToggler .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-121px -96px;background-color:transparent;border:0;height:21px;padding:0;width:21px}
.permalink_stream .bigHideButton .openToggler .highlightSelectorButton, .permalink_stream .bigHideButton.openToggler .highlightSelectorButton, .permalink_stream .bigHideButton .openToggler .highlightSelectorButton:hover{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-52px -96px;height:25px;width:26px}
.uiStream .uiStreamStory .highlightSelector .openToggler .uiSelectorButton, .uiStream .uiStreamStory .highlightSelector .openToggler .uiSelectorButton:hover, .highlightSelector .openToggler .highlightSelectorButton, .highlightSelector.openToggler .highlightSelectorButton, .permalink_stream .highlightSelector .openToggler .highlightEditSelectorButton:hover, .highlightSelector .openToggler .highlightEditSelectorButton, .highlightSelector.openToggler .highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-543px -38px;background-color:transparent;border:0;height:24px;padding:0;width:21px}
.uiStream .uiStreamStory .bigHideButton .openToggler .uiSelectorButton, .uiStream .uiStreamStory .bigHideButton .openToggler .uiSelectorButton:hover, .bigHideButton .openToggler .highlightSelectorButton, .bigHideButton.openToggler .highlightSelectorButton, .permalink_stream .bigHideButton .openToggler .highlightEditSelectorButton:hover, .bigHideButton .openToggler .highlightEditSelectorButton, .openToggler.bigHideButton .highlightEditSelectorButton{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-52px -67px;height:28px;width:26px}
.highlightSelector .openToggler .highlightEditSelectorButton, .highlightSelector.openToggler .highlightEditSelectorButton, .permalink_stream .highlightSelector .openToggler .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-200px -67px}
.bigHideButton .openToggler .highlightEditSelectorButton, .bigHideButton.openToggler .highlightEditSelectorButton, .permalink_stream .bigHideButton .openToggler .highlightEditSelectorButton:hover{background-image:url(/rsrc.php/v2/yi/r/dP2YTm13cfQ.png);background-repeat:no-repeat;background-size:auto;background-position:-131px -67px}
.uiStreamBoulderThemeAgg .substoryActorPic img, .uiStreamBoulderThemeAgg .uiStreamInlineAction .inlineActionInputPic{height:32px;width:32px}
.uiStreamBoulderThemeAgg .storyContent{padding-bottom:2px}
.uiStreamBoulderThemeAgg .uiStreamSubstory{margin:0;padding:5px 0}
.uiStreamSubstories .uiStreamSubstory div.storyContent{padding-bottom:2px}
.uiStreamBoulderThemeAgg .uiStreamSubstories > li:first-child .uiStreamSubstory{padding-top:0}
.uiStreamStory .uiStreamSubstory .storyContent{padding:0}
.uiStreamLoader{text-align:center}
.uiStreamBoulderThemeAgg .uiStreamSubstories{margin-top:0;padding-top:0}
.uiStreamBoulderThemeAgg .uiStreamSubstories .uiStreamShowAll{border-bottom:0;text-align:left}
.uiStreamBoulderThemeAgg .uiStreamSubstories .uiStreamShowAll span{font-weight:normal}
.uiStreamBoulderThemeAgg .inlineSubstory .uiStreamSubstory{border-bottom:1px solid #e5e5e5;padding-bottom:10px}
.uiStreamBoulderThemeAgg .uiStreamAttachments .external{display:block;margin:0;padding-bottom:5px;padding-right:10px}
.uiStreamBoulderThemeAgg .uiStreamAttachments .external img{max-height:100px;max-width:120px}
.uiStreamInlineTextarea{display:block;height:19px;width:100%}
.uiStreamShareLikePageBox{border-top:1px solid #e9e9e9;padding-top:10px}
.uiStreamShareLikePageBox .uiPageLikeButton{margin-top:4px}
.uiStreamSubstory .storyInnerContent .rfloat.PageLikeButton, .uiStreamSubstory .storyInnerContent .rfloat .PageLikeButton{margin-right:25px}
.uiStreamHide .highlightEditSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamHide .highlightSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamSubstory .uiStreamHide.substoryHideSelector .uiStreamContextButton.alwaysShowHideButton{background-image:url(/rsrc.php/v2/yI/r/HshtAUgqgNx.png);background-repeat:no-repeat;background-size:auto;background-position:-809px -38px;height:7px;left:-4px;margin-top:14px;opacity:.5;width:10px}
.uiStreamStory .highlightEditSelectorButton.uiStreamContextButton.alwaysShowHideButton:hover, .uiStreamStory .highlightSelectorButton.uiStreamContextButton.alwaysShowHideButton:hover, .uiStreamSubstory .uiStreamHide.substoryHideSelector .uiStreamContextButton.alwaysShowHideButton:hover, .uiStreamStory .openToggler .highlightEditSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamStory .openToggler .highlightSelectorButton.uiStreamContextButton.alwaysShowHideButton, .uiStreamSubstory .openToggler.uiStreamHide.substoryHideSelector .uiStreamContextButton.alwaysShowHideButton{left:-4px;opacity:.8}
.uiStreamSubstory .uiStreamHide.substoryHideSelector{margin:-12px 10px 0}
.uiStreamRedesign .uiStreamSubstories .uiStreamSubstory .uiUfi{width:358px}
.uiStreamRedesign .uiStreamMessage .messageBody{color:#333;font-size:13px;line-height:1.38}
.uiStreamRedesign .uiStreamStory .mainWrapper{margin-bottom:16px;padding-top:18px}
.permalinkBody .uiStreamRedesign .uiStreamStory .mainWrapper{margin-bottom:4px}
.uiStreamRedesign .uiStreamStory .actorPhoto{margin-bottom:16px;margin-top:18px}
.uiStreamRedesign .uiStreamStory .uiStreamPassive{margin-bottom:6px}
.uiStreamRedesign .uiStreamStory .actorDescription{margin-bottom:0;padding-bottom:4px}
.uiStreamRedesign .shareSubtext{border-left:2px solid #ccc;margin-top:10px;padding-left:8px}
.uiMediaThumb{background:#fff;border:1px solid #ccc;display:inline-block;outline:none;padding:4px;position:relative;vertical-align:bottom}
.loading.uiMediaThumb{background:url(/rsrc.php/v2/yk/r/LOOn0JtHNzb.gif) no-repeat center center}
.loading.uiMediaThumb i{opacity:.3}
.uiMediaThumbSelected{background-color:#3b5998;border-color:#3b5998}
.uiMediaThumb:hover, .uiMediaThumb:hover .uiMediaThumbWrap, .uiMediaThumb:active, .uiMediaThumb:active .uiMediaThumbWrap, .uiMediaThumb:focus, .uiMediaThumb:focus .uiMediaThumbWrap{border-color:#3b5998}
.uiMediaThumb i{background-color:#eee;background-position:center 25%;background-repeat:no-repeat;display:block}
.uiMediaThumbSmall i{height:54px;width:73px}
.uiMediaThumbMedium i{height:85px;width:114px}
.uiMediaThumbLarge i{height:116px;width:149px}
.uiMediaThumbHuge i{height:120px;width:161px}
.uiMediaThumbAlb{margin-bottom:5px;margin-right:5px}
.uiMediaThumbWrap{background:#fff;border:1px solid #ccc;left:4px;padding:4px;position:absolute;top:4px}
.uiMediaThumbAlbSmall, .uiMediaThumbSmall .uiMediaThumbWrap i{height:49px;width:68px}
.uiMediaThumbAlbMedium, .uiMediaThumbMedium .uiMediaThumbWrap i{height:80px;width:109px}
.uiMediaThumbAlbLarge, .uiMediaThumbLarge .uiMediaThumbWrap i{height:111px;width:144px}
.uiMediaThumbAlbHuge, .uiMediaThumbHuge .uiMediaThumbWrap i{height:115px;width:156px}
.uiPhotoThumb{border:1px solid #ccc;display:inline-block}
.uiPhotoThumb img{display:block;margin:3px}
.uiPhotoThumb:hover{border:1px solid #3b5998}
.loading.uiPhotoThumb{background:url(/rsrc.php/v2/yb/r/GsNJNwuI-UM.gif) no-repeat center center}
.loading.uiPhotoThumb img{opacity:.3}

#bootloader__4_Vx { height: 42px; }
.bootloader__4_Vx { display:block !important; }