/*1373956514,173205825*/

._75q{height:0;margin-left:61px !important;text-align:center;top:0;width:552px;z-index:50}
._75q ._75r{background:#fafbfb;-webkit-border-radius:25px;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .25), 
0 0 0 1px rgba(0, 0, 0, .06), 
inset 0 1px 1px rgba(255, 255, 255, .2);color:#333;cursor:pointer;display:inline-block;line-height:30px;margin-top:18px;opacity:.97;padding:0 45px;position:relative;text-decoration:none;text-shadow:0 1px 1px rgba(255, 255, 255, .8);-webkit-transition:top .2s ease;-webkit-user-select:none}
._75q ._75r:hover{background-image:-webkit-gradient(linear, center bottom, center top, from(rgba(8, 10, 16, .02)), to(rgba(255, 255, 255, .02)));background-image:-webkit-linear-gradient(to top, rgba(8, 10, 16, .02), rgba(255, 255, 255, .02));-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .25),
0 0 0 1px rgba(0, 0, 0, .1),
inset 0 1px 1px rgba(255, 255, 255, .4)}
._75q ._75r:active{background-image:-webkit-gradient(linear, center top, center bottom, from(rgba(8, 10, 16, .02)), to(rgba(255, 255, 255, .02)));background-image:-webkit-linear-gradient(to bottom, rgba(8, 10, 16, .02), rgba(255, 255, 255, .02));-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .25),
0 0 0 1px rgba(0, 0, 0, .1),
inset 0 1px 1px rgba(255, 255, 255, .4)}
._75q ._75r ._918{margin-right:8px;position:relative}
._75q ._75r ._53bc{margin-right:4px;position:relative;top:2px}
._75p{background-image:url(/rsrc.php/v2/yO/r/u0f6MBahOAw.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:16px;margin-top:-8px;position:absolute;right:8px;top:50%;width:16px}
._75r ._75p:hover{background-image:url(/rsrc.php/v2/y4/r/pOtbpCWXNgY.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._4lh ._51d-{height:360px}

#bootloader_6JSAm { height: 42px; }