/*!CK:2561838500!*//*1387169802,178158627*/

.sp_4nkzud{background-image:url(/rsrc.php/v2/yT/r/ZA4XPpeJ84d.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:32px;width:32px}
.sx_28c2e3{background-position:0 0}
.sx_8fce7e{background-position:0 -33px}
.sp_bpwjh5{background-image:url(/rsrc.php/v2/yi/r/3Jvi-zpCR3E.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_fd84eb{width:32px;height:32px;background-position:0 0}
.sx_076c63{background-position:0 -33px}

#bootloader_o0dZ_ { height: 42px; }
.bootloader_o0dZ_ { display:block !important; }