/*!CK:478958844!*//*1387493393,178146123*/

._4pj{position:relative}
._4pk{position:absolute;top:7px}
._4pm{padding-left:60px;padding-top:3px}
._5r-_ #rightCol, ._5r-_.homeWiderContent div#rightCol .home_right_column, ._5r-_ .tickerOnTop .rightColumnWrapper{padding-right:12px;width:267px}
._5qrt.ego_column{width:auto}
.hasLeftCol ._5r-_.homeWiderContent div#contentArea{width:488px}
._5r-_.homeFixedLayout #rightCol .uiSideHeader, ._5r-_ .rhcFooterWrap{padding-left:0}
._5r-_ .fbReminders .fbRemindersStory{-webkit-border-radius:2px 0 0 2px;margin-left:-4px;padding:4px}
._5vb_ .fbReminders .fbRemindersStory{-webkit-border-radius:2px;margin-right:-4px}
._5r-_ .fbReminders .fbRemindersStory:hover{background-color:#f2f2f2}
html ._5r-_ .tickerOnTop #pagelet_reminders .fbReminders{margin-bottom:8px}
._5qrt .ego_section{margin:0}
._5r-_ #rightCol .ego_column .ego_section .uiSideHeader{margin-bottom:0;padding-bottom:0;padding-top:10px}
._5qrt .ego_section .ego_unit{margin:0;padding:8px 8px 8px 0}
._5vb_ ._5qrt .ego_section .ego_unit{padding:8px 0}
._5qrt .ego_section .ego_unit ._4u8 .fbEmuMarketplace .uiSelectorMenu{margin-top:-3px}
._5qrt.egoOrganicColumn .ego_section .ego_unit:last-child{padding-bottom:12px}
._5qrt .ego_section .adsCategoryIcon{margin-top:-2px}
._5qrt .ego_section .uiHeaderTitle{overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._5qrt .ego_unit .action{margin-top:0}
._5qrt .ego_unit .action ._24x{outline:none}
._5qrt .ego_unit .ego_x, ._5qrt .ego_unit .emu_x{margin-right:-11px}
._5qrt .action .fbEmuContext{display:inline-block}
._5qrt .ego_unit .action ._24x, ._5qrt .action .fbEmuContext, ._5qrt .action .inlineContext{margin-top:8px}
._5qrt .action .inlineContext .fbEmuContext{margin-top:0}
._5qrt .ego_unit .action .fbEmuContext a, ._5qrt .ego_unit .messageBody, ._5qrt .ego_unit .messageBody a, ._5qrt .ego_unit .uiLinkSubtle, ._5qrt .ego_unit .eventRSVP a{color:#898f9c}
._5qrt .fbEmuStreamStory .messageBody .whitespaceLink:hover, ._5qrt .fbEmuStreamStory .whitespaceLink:hover .fbEmuStreamOGAction, ._5qrt .fbEmuStreamStory .whitespaceLink:hover .fbEmuLikeMessage{background-color:#fff}
._5qrt .uiStream .uiStreamMessage{margin-bottom:0}
._5qrt .fbEmuStreamStory .fadStoryAttachment, ._5qrt .fbEmuStreamStory .fadStoryFooter{margin-top:8px}
._5qrt .fbEmuXThanksBody a{font-weight:bold}
._5qrt .ego_unit .action .fbEmuContext a{display:inline;font-weight:bold}
._5qrt .ego_unit .lfloat > .img{padding-top:0}
._5qrt .ego_unit .image_body_block, ._5qrt .ego_unit .fbEmuContext, ._5qrt .ego_unit_container{line-height:16px;padding:0}
._5qrt .ego_section .ego_unit:first-child, ._5qrt.egoOrganicColumn .ego_section .ego_unit:first-child{padding-top:10px}
._5qrt .ego_unit .uiStream .uiStreamMessage{font-size:12px}
._5qrt .ego_unit .uiStarsRatable{margin-top:5px}
._5qrt .egoPlaceComboInput .uiTypeaheadSpan{padding:0}
._5qrt.egoOrganicColumn .ego_section .ego_unit{border-top:0}
._5qrt .uiStream .uiStreamPassive{color:#4e5665;font-size:12px}
._5qrt .uiStream .uiStreamPassive a{font-weight:bold;text-decoration:none}
._5rzs .title a{color:#232b37}
._5rzs .uiHeaderTop .uiHeaderTitle, ._5rzs .uiHeader.uiSideHeader, ._5rzs .uiHeader.uiSideHeader a, ._5rzs .uiHeader.uiSideHeader h6, ._5rzs .uiHeader.uiSideHeader .adsCategoryTitleLink{color:#898f9c;font-size:11px;line-height:12px}
._5rzs .uiHeader.uiSideHeader .uiHeaderActions a, ._5rzs .uiHeader.uiSideHeader .uiHeaderActions{font-size:12px;line-height:10px}
._5rzs .uiHeader, #rightCol ._5rzs .uiHeader.uiSideHeader{background:none;margin-bottom:0;padding:12px 12px 10px 0}
._5rzs .uiHeaderTop .uiHeaderTitle, ._5rzs .uiHeader.uiSideHeader h6{-webkit-font-smoothing:antialiased;font-weight:bold;text-transform:uppercase}
._5rzs._5v6d, ._5r-_.homeWiderContent div#rightCol ._5v6d div.home_right_column, ._5r-_.homeWiderContent div#rightCol ._5v6d div.home_right_column .rightColumnWrapper{margin-top:0;padding:0;width:auto}
._5rzs._5v6d ._5v6e{padding:12px;width:254px}
._5vb_ ._5rzs .uiHeader, ._5vb_ #rightCol ._5rzs .uiHeader.uiSideHeader{padding-right:0;padding-left:0;padding-top:12px}
._5vb_ ._5rzs .uiHeader.uiSideHeader a{font-size:12px}
._5r-_.homeWiderContent div#rightCol ._5v6d #pagelet_reminders .fbReminders{margin-top:0}
._5r-_.homeWiderContent div#rightCol ._5v6d #pagelet_reminders .fbRemindersThickline{display:none}
._5r-_.homeWiderContent div#rightCol ._5v6e > div:empty + div .uiHeader.uiHeaderTopBorder{border-top:0;padding-top:0}
._5vb_ .home_right_column .fbFeedTicker{border-bottom:none;-webkit-box-shadow:none;margin-left:-12px;margin-right:-12px;margin-top:-1px;width:auto}
._5vb_ .home_right_column .fbFeedHeadThickLineCapable, ._5vb_ .home_right_column .fbFeedTicker .fbTickerFooter{border-top:none}
._5vb_ .home_right_column .fbFeedTicker .ticker_container:after, ._5vb_ .home_right_column .fbFeedTicker .ticker_container:before{background-color:rgba(0, 0, 0, .03) !important;height:3px !important;left:0;pointer-events:none;width:auto}
._5vb_ .home_right_column .fbFeedTicker .ticker_container:before{-webkit-box-shadow:0 1px 0 rgba(0, 0, 0, .1) inset;right:0}
._5vb_ .home_right_column .fbFeedTicker .ticker_container:after{-webkit-box-shadow:0 -1px 0 rgba(0, 0, 0, .1) inset;right:0}
._5vb_ .home_right_column .displayedTickerToggleWrapper .tickerLineToggle{height:4px;right:12px;top:-1px}
._5vb_ .home_right_column .ticker_container, ._5vb_ .home_right_column .uiScrollableAreaBody{width:100% !important}
._5vb_ .home_right_column .fbFeedTicker .fbFeedTickerStory{margin:0 12px -1px;padding:6px 0 7px}
._5vb_ .home_right_column .fbFeedTicker .tickerStoryActive, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryClickable:hover{background-color:#f6f7f8 !important;border-bottom-color:#e9e9e9 !important;margin:0 0 -1px;padding:6px 12px 7px}
._5vb_ .home_right_column .fbFeedTicker .tickerStoryActive{border-top-color:#e9e9e9 !important}
._5vb_ .home_right_column .tickerActionExpandableButton{margin-top:-11px;right:0}
._5vb_ .home_right_column .fbFeedTicker .tickerStoryActive .tickerActionExpandableButton, ._5vb_ .home_right_column .fbFeedTicker .tickerStoryClickable:hover .tickerActionExpandableButton{right:12px}
._5vb_ .fbFeedTicker .uiMorePager{display:none}
._5vb_ .home_right_column .fbRemindersThickline{background:none;border-top:none;margin:-3px -12px 0;position:relative}
._5vb_ .home_right_column .fbRemindersThickline:before{background-color:#e2e2e2;content:'';height:1px;left:12px;position:absolute;right:12px;top:2px}
._5j2k{position:absolute;right:19px;top:22px}
._6xk ._5j2k{position:relative;right:0;top:2px}
.uiStreamLargeHeadline .uiStreamStory .uiStreamHeadline._5j2l{line-height:14px}
._5j2m{color:#898f9c;font-weight:normal;line-height:11px;margin-bottom:5px}
._5dyv{margin:24px 0;position:relative;width:100%}
._5e04{margin:32px 0 32px 61px;position:relative}
._5dyw{height:100%;position:absolute;width:100%}
._5dyx{height:50%}
._5dyy{border-top:1px solid #e9e9e9;height:0;width:100%}
._5e04 ._5dyy{border-bottom:1px solid rgba(255, 255, 255, .15);border-top:1px solid #d3d6db}
._5dyz{margin:0 auto;position:relative;text-align:center;width:90%}
._5dy-{background-color:#fff;color:#999;margin:0 auto;padding:0 10px}
._5e05{background-color:#e9eaed;margin:0 auto;padding:0 10px;text-shadow:rgba(255, 255, 255, .5) 0 1px}
._59m0{bottom:0;position:absolute;top:27px}
._55_i{border-top:1px solid #e9e9e9;color:#999;text-align:center}
._5d8y{color:#999}
._5dyp{margin-left:60px;width:398px}
._5e06{margin-left:61px}
._5dyq{background-color:#eee;border:1px solid #a6a6a6;border-bottom-color:#ccc}
._5e07{padding:15px}
._5dyr{background-color:#fff;border:1px solid #a6a6a6;border-top:none;padding:12px 0}
._5e08{padding:15px 0}
._5dys{width:100%}
._5dyt{display:inline-block;width:50%}
._5dyu{line-height:150%;margin-left:8px;max-width:100%}
._5e09{font-size:14px;line-height:20px;margin-left:15px;max-width:100%}
._5e09 ._58cn{color:#141823;font-weight:bold}
._5e09 ._58cl{color:#373e4d;font-weight:normal}
._5mth{color:gray;font-size:12px;font-weight:normal;margin-top:2px}
._6nw ._5mth{color:#6a7180;display:inline-block;margin-left:12px}
._5mti, .uiHeader ._5mti, ._5mti ._58cl, ._5mti ._58cm{color:#3b5998;font-size:12px}
._6nw ._5mti, ._6nw ._5mti ._58cl, ._6nw ._5mti ._58cm{color:#6a7180;font-weight:bold}
._5n8h{background-color:#e9e9e9;color:#e9e9e9;margin-bottom:-4px;margin-left:-18px}

html ._5vhh #headerArea{padding-bottom:5px}
._5vhi{margin-bottom:8px;width:458px}
._5xia{margin-left:-3px}
._5mym{margin-top:5px}
._5my5, ._5r-z{float:left;height:16px;margin:-1px 5px -1px 0;width:16px}
._5my5{background-image:url(/rsrc.php/v2/yv/r/HzlrD3_-HGz.png);background-repeat:no-repeat;background-size:auto;background-position:0 -17px}
._5r-z{background-image:url(/rsrc.php/v2/yv/r/HzlrD3_-HGz.png);background-repeat:no-repeat;background-size:auto;background-position:0 0}
._6nw ._5my5{margin:0 6px 0 0}
._5my7{margin-top:-4px;padding-bottom:4px}
._6nw ._5my7{margin:-6px -12px 0}
._5my7 td{vertical-align:top}
._5my9, ._5uhm, ._5r--{color:#898f9c}
._5v0s{color:#3b5998;font-weight:bold}
._6nw ._5v0s{color:#141823}
._5pf4 a:hover, ._5my2:hover{text-decoration:none}
._5my9:hover, ._5v0t:hover + ._5v0u ._5my8{text-decoration:underline}
._5myc{height:50px;margin-right:8px;width:50px}
._5myd{background-image:url(/rsrc.php/v2/yv/r/HzlrD3_-HGz.png);background-repeat:no-repeat;background-size:auto;background-position:0 -34px;float:left;height:5px;margin:5px 9px 4px 4px;width:9px}
._6nw ._5myd{margin:6px 11px 5px 3px}
._5my2{display:block;padding:3px 5px}
._6nw ._5my2{padding:4px 12px}
._5r-_ ._5my2{-webkit-border-radius:2px 0 0 2px;margin-left:-4px;padding:3px 4px}
._5uhm, ._5uhn{position:relative}
._5v0u{max-height:45px;overflow:hidden}
._6nw ._5v0u{max-height:48px}
._6nw ._5xb_{font-size:12px}
._5v0t{bottom:0;left:0;position:absolute;right:0;top:0}
.ie10 ._5v0t{background-image:url(/rsrc.php/v2/y4/r/-PAXP-deijE.gif)}
.ego_unit._5pf4{margin-bottom:0;margin-left:-6px;padding-right:0}
.ego_unit._5pf4:first-child{margin-top:-4px}
._6nw .ego_unit._5pf4:first-child{margin-top:-6px}
.ego_unit._5pf4 + .ego_unit._5pf4{border:none;padding-top:0}
._6nw .ego_section .ego_unit._5pf4{margin-left:-12px;margin-right:-12px}
._6nw .egoOrganicColumn .ego_section .ego_unit._5pf4, ._6nw .egoOrganicColumn .ego_section .ego_unit._5pf4:first-child{padding:0}
._6nw .egoOrganicColumn .ego_section .ego_unit._5pf4:last-child{padding-bottom:4px}
.sp_a3y7y3{background-image:url(/rsrc.php/v2/yv/r/HzlrD3_-HGz.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_921f8b{background-position:0 0}
.sx_a90aed{background-position:0 -17px}
.sx_b0eb0d{width:9px;height:5px;background-position:0 -34px}
.sp_bpckbt{background-image:url(/rsrc.php/v2/yG/r/D5IJnRyuWVk.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:16px;width:16px}
.sx_f2a283{width:9px;height:9px;background-position:0 -51px}
.sx_64c569{background-position:0 0}
.sx_2e0955{background-position:0 -17px}
.sx_86090c{background-position:0 -34px}
._5gmh{left:-10000px;opacity:0;position:absolute}
._5gmi{background-color:#edeff4;border:1px solid #d8dfea;display:block;font-family:'lucida grande',tahoma,verdana,arial,sans-serif;font-size:11px;font-weight:bold;line-height:34px;margin-top:18px;text-align:center}
._5gmi:hover{background-color:#d8dfea}
._5gmg ._5gmi{margin-top:8px}
._5gmk{color:#333;font-weight:bold;opacity:.95;text-align:center;width:511px;z-index:2}
._5gmm{background:-webkit-gradient(linear, center top, center bottom, from(#fafafa), to(#f2f2f2));background:-webkit-linear-gradient(#fafafa, #f2f2f2);-webkit-border-radius:24px;-webkit-box-shadow:0 1px 3px rgba(0, 0, 0, .3), 
0 0 1px rgba(0, 0, 0, .06), 
inset 0 1px #fff;cursor:pointer;display:inline-block;padding:7px 36px;position:relative;top:-36px}
._5gmm:active{background:-webkit-gradient(linear, center top, center bottom, from(#f2f2f2), to(#fafafa));background:-webkit-linear-gradient(#f2f2f2, #fafafa)}
._5gmn{background-image:url(/rsrc.php/v2/yG/r/D5IJnRyuWVk.png);background-repeat:no-repeat;background-size:auto;background-position:0 -51px;display:inline-block;height:9px;margin-right:5px;width:9px}
._5gmp{background-image:url(/rsrc.php/v2/yG/r/D5IJnRyuWVk.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;display:none;height:16px;position:absolute;right:6px;top:6px;width:16px}
._5gmp:hover{background-image:url(/rsrc.php/v2/yG/r/D5IJnRyuWVk.png);background-repeat:no-repeat;background-size:auto;background-position:0 -34px}
._5gmp:active{background-image:url(/rsrc.php/v2/yG/r/D5IJnRyuWVk.png);background-repeat:no-repeat;background-size:auto;background-position:0 -17px}
._5gmm:hover ._5gmp{display:block}
._5gmg ._5gmk{width:550px}
._5gmg ._5gmm{top:9px}

#bootloader_GzhMe { height: 42px; }
.bootloader_GzhMe { display:block !important; }