/*!CK:3710344849!*//*1387165790,178127433*/

._5ud-{margin-left:auto;margin-right:0}
._5ud_{width:100%}
._56zv{text-align:center}
._52v-{border:0;padding:5px 10px 8px 10px}
._52v_{background:#fff;border:0}
._52w0{margin:8px 8px 0 0}
._5j_5{float:right;margin:8px 8px 0 0;outline:none;position:relative;z-index:2}
._52v- ._52w0{margin:2px 0 0 0}
._52w1{margin-top:2px}
._5292{float:left;margin-left:-7px;padding-right:1px;z-index:5}
._5292 a, ._5292 a:hover, ._5292 a:focus, ._5292 a:active{display:block;height:31px;outline:none;overflow:hidden;white-space:nowrap;width:103px}
._5292 a:hover, ._5292 a:focus, ._5292 a:active{background-color:#4b67a1}
._3ky{position:relative;text-align:center;z-index:1}
._3kz{vertical-align:bottom}
.hideBanner .fbPageBanner,
.fixedBody .fbPageBanner{display:none}
.fbPageBannerInner{margin:auto;width:980px}
.sidebarMode .fbPageBannerInner{left:-102px;position:relative}
#mobile_mirror_banner{position:relative;z-index:300}
._7m2{height:137px;left:0;position:absolute;top:0;width:100%}
._7m3{height:137px;overflow:hidden}
._7lj{height:155px;position:relative;top:-9px;width:370px}
._7m4{background:url(/rsrc.php/v2/yG/r/8RHv8nDQAHL.png) repeat-x left top;bottom:0;height:93px;position:absolute;width:100%}
._7m5{z-index:4}
._7lh{display:none}
html ._53ih ._7lh{display:block;height:155px;position:absolute;top:-9px;width:370px}
._7lh ._7lj{top:0}
._7ld ._7lh{-webkit-mask-image:url(/rsrc.php/v2/yP/r/z7cqmT3Y7MW.png);-webkit-mask-position:15px 0;-webkit-mask-repeat:no-repeat}
._7ld ._7lh ._7li{display:block;left:15px;position:absolute;top:0}
._53ih._7le ._7lh{border-left:1px solid rgba(0, 0, 0, .45);border-top:1px solid rgba(0, 0, 0, .45);height:11px;overflow:hidden;top:0;-webkit-transform-origin:0 0;width:11px;z-index:1}
._7le ._7lh ._7lj{-webkit-transform-origin:0 0}
._7lf._7le ._7lh ._7lj, ._7lf._7le ._7lh{-webkit-transform-origin:100% 0}
.Locale_ja_JP #navSearch{width:325px}
.Locale_ja_JP #navSearch .uiSearchInput input{width:290px}
.hasSmurfbar.Locale_ja_JP #navSearch{width:397px}
.hasSmurfbar.Locale_ja_JP #navSearch .uiSearchInput input{width:364px}
.timelineEmailabilityToolbar{background-color:#f2f2f2;border-width:0 1px 1px;border-style:dashed solid;border-color:#b7c1d7 #ccc;position:relative;width:809px}
#pagelet_above_header .timelineEmailabilityToolbar{border-width:0 0 1px;width:auto;margin:-20px -20px 20px}
.emailabilityGridContent{width:100%}
.timelineEmailabilityToolbar .customAddressButton, .timelineEmailabilityToolbar .loadingIndicator{vertical-align:middle}
.timelineEmailabilityToolbar .uiGrid .loadingIndicator{display:inline-block;margin-left:-21px;visibility:hidden}
.timelineEmailabilityToolbar .async_saving .loadingIndicator{visibility:visible}
.timelineEmailabilityToolbar .closeButton{position:absolute;right:20px;top:20px}
.emailabilityContactIcon{margin-right:15px}
div.photosClusters{width:602px}
.photosClusters .photoAndTypeahead{float:left;width:174px}
.photosClusters .faceCrop{background:#fff;border:1px solid #ccc;position:relative;padding:4px}
.photosClusters a.untag{position:absolute;right:10px;top:9px;z-index:1}
.photosClusters .clusterTypeahead{clear:both;width:220px}
.photosClusters .photoSingles .photoAndTypeahead{padding-bottom:20px}
.megaphone_location_FaceRecMegaphone{width:604px;margin-left:auto;margin-right:auto}
._6w6{border:1px solid rgba(0, 0, 0, .08);padding:2px}
.fbTimelineUnit ._6w6{margin:10px 0 0 0}
.uiStreamStory .uiStreamAttachments ._6w6{width:100%}

#bootloader_T_McH { height: 42px; }
.bootloader_T_McH { display:block !important; }