/*!CK:3254304731!*//*1387378234,178127387*/

._4-p-{margin:5px 37px 6px}
._5j5u{padding-top:4px;position:relative;width:398px}
._5jqj .uiStreamEdgeStoryLineTx{left:29px}
._5jqk .uiStreamEdgeStoryLineTx{left:0;padding-left:0}
._5j5u .feedback{padding-left:4px}
._5j5v .actorImage{padding:4px 0 0}
._5j5v .content{display:table-cell;height:32px;margin-top:0;vertical-align:middle}
._5j5v .ego_action{margin-top:8px}
._5j5v .ego_x{margin-top:-2px}
._5j5w.ego_unit{float:left;margin:-4px 0 0;padding:0}
._5j5w.ego_unit + ._5j5w.ego_unit{border-top:0;margin-left:10px}
._5j5w .imagewrapper{position:relative}
._5j5w .close{position:absolute;right:0;top:0}
._5j5w .actorImage .img{height:92px;width:92px}
._5j5w .content{margin-top:4px;padding-bottom:27px;width:92px}
._5j5w .action{bottom:0;position:absolute}
._5x17{text-transform:uppercase}
._5x17 .uiStreamEdgeStoryLineTx{font-size:10px;position:absolute;top:7px}

#bootloader_fP9KG { height: 42px; }
.bootloader_fP9KG { display:block !important; }