/*!CK:3085712703!*//*1385479225,173213981*/

._5sau{bottom:0;color:#000;margin:10px;position:absolute;right:0}
._5tzn{bottom:0;color:#000;right:0}

#bootloader_p6SDF { height: 42px; }
.bootloader_p6SDF { display:block !important; }