/*!CK:681636690!*//*1387163937,178127453*/

._5vwj{padding-top:3px}
._5qrt ._5vwj{padding-top:8px}
._5vwj ._5vwk{color:#333;font-size:11px;line-height:13px}
._5p3y ._5vwj ._5vwk{font-size:12px;line-height:1.28}

#bootloader_1fkms { height: 42px; }
.bootloader_1fkms { display:block !important; }