/*!CK:1797383304!*//*1387384519,178185015*/

._5hbk{background:#e9eaed;-webkit-border-radius:3px;display:inline-block;font-family:courier, monospace;font-weight:bold;margin:1px 0;padding:1px 3px}
._5q7m{text-transform:uppercase}
._5q7n{margin:-10px 0 0 -78px}
._5q7o .uiStreamEdgeStoryLine .uiStreamEdgeStoryLineTx{margin-left:-40px}
._5q7o .uiStreamEdgeStoryLineTx{font-size:10px}
._5q7p{display:none;float:right;margin:4px 0 0 2px}
._5q7o:hover ._5q7p{display:block}

#bootloader_QjAjn { height: 42px; }
.bootloader_QjAjn { display:block !important; }