/*!CK:261321948!*//*1387163937,178127443*/

._5vw4{padding-bottom:3px;padding-top:6px;position:relative}
._5qrt ._5vw4{padding-bottom:0;padding-top:8px}
._5vw5{width:100px}
._5vw5 .img{max-height:72px;max-width:100px}
._5wai{width:110px}
._5wai .img{max-height:80px;max-width:110px}
._5vw6{width:128px}
._5vw6 .img{max-height:72px;max-width:128px}
._5vw4 ._5vw7 i{background-image:url(/rsrc.php/v2/yN/r/aERK2-5sOBX.png);bottom:6px;height:22px;left:3px;position:absolute;width:27px}
._5vw8{display:table-cell;vertical-align:middle;width:120px}
._5vw8 .img{max-height:90px;max-width:120px}

#bootloader_ALAw4 { height: 42px; }
.bootloader_ALAw4 { display:block !important; }