/*!CK:4073011887!*//*1387163937,178163747*/

._5vw9{margin:2px 0 4px;position:relative}
._5vw9:hover a{text-decoration:none}
._5vw9:hover .emu_x .uiSelectorButton{opacity:1}
._5qrt ._5vw9{margin:0}

#bootloader_Y8E3d { height: 42px; }
.bootloader_Y8E3d { display:block !important; }