/*!CK:1421969342!*//*1387162075,178191129*/

._5vwg{font-size:11px;line-height:13px}
._5vwg ._5vwh{color:#3b5998}
._5vwg ._5vwi{color:#999}
._5p3y ._5vwg{font-size:12px;line-height:16px}
._5p3y ._5vwg ._5vwi{color:#898f9c}

#bootloader_7bx01 { height: 42px; }
.bootloader_7bx01 { display:block !important; }